<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.services %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/detail.css" />
  <body>
    <% include ../../includes/navigation.ejs %>
    <div class='main' id='main' name='<%= service %>'>
      <div class='header'>
        <div class='bookmark'><i class='fas fa-bookmark'></i></div><div class='location'><%= `${strings.storage.locations.services} / ${strings.storage.services.names[rights.service]}` %></div>
      </div>
      <% if(error != null){ %>
        <div class='error'>
          <div class='message'><div class='left'><i class='fas fa-exclamation-circle'></i></div><div class='right'><%= error.message %></div></div>
          <% if(error.detail != undefined){ %>
            <div class='detail'>
              <div class='label'><%= strings.common.errors.detail %></div>
              <div class='content'><%= error.detail %></div>
            </div>
          <% } %>
        </div>
      <% } else{ %>
        <div class='aside'>
          <div class='info'>
            <div class='count'><%= strings.storage.services.info.count %> : <%= Object.keys(files).length %></div>
            <div class='upload'>
              <% if(rights.upload == 1){ %>
                <button class='true'><%= strings.storage.services.info.upload.true %></button>
              <% } else{ %>
                <div class='false'><%= strings.storage.services.info.upload.false %></div>
              <% } %>
            </div>
          </div>
          <div class='actions' id='actions'>
            <div class='selection'><%= strings.storage.services.selected %> : 0</div>
            <div class='content'>
              <% if(rights.download == 0){ %>
                <div class='download'><div class='status false'><%= strings.storage.services.unauthorized %></div><div class='disabled'><i class='fas fa-cloud-download-alt'></i></div></div>
              <% } else{ %>
                <div class='download'><div class='status true'><%= strings.storage.services.authorized %></div><div class='enabled' id='download'><i class='fas fa-cloud-download-alt'></i></div></div>
              <% } %>
              <% if(rights.remove == 0){ %>
                <div class='remove'><div class='status false'><%= strings.storage.services.unauthorized %></div><div class='disabled'><i class='fas fa-trash'></i></div></div>
              <% } else{ %>
                <div class='remove'><div class='status true'><%= strings.storage.services.authorized %></div><div class='enabled' id='remove'><i class='fas fa-trash'></i></div></div>
              <% } %>
            </div>
          </div>
          <div class='filters'>
            <div class='label'><div class='left'><%= strings.storage.services.filters.label %></div><div class='right'><i class='fas fa-angle-down'></i></div></div>
            <div class='content'></div>
          </div>
        </div><!--
        --><div class='files'>
          <% for(var file in files)
          { 
            switch(files[file].ext)
            { 
              case 'doc': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'></div><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon word'><i class='fas fa-file-word fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% case 'docx': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon word'><i class='fas fa-file-word fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% case 'ppt': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon powerpoint'><i class='fas fa-file-powerpoint fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% case 'pptx': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon powerpoint'><i class='fas fa-file-powerpoint fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% case 'xls': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon excel'><i class='fas fa-file-excel fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% case 'xlsx': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon excel'><i class='fas fa-file-excel fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% case 'pdf': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon pdf'><i class='fas fa-file-pdf fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% case 'txt': %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon text'><i class='fas fa-file-alt fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break %>
              <% default: %><div class='file' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><div class='icon default'><i class='fas fa-file fa-5x'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times fa-5x'></i></div><% } %></div><% break 
            } 
          } %>
        </div>
      <% } %>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/functions.js'></script>
    <script src='/js/afk.js'></script>
    <script src='/js/fontawesome.js'></script>
    <script src='/js/navigation/menu.js'></script>
    <script src='/js/navigation/account.js'></script>
    <script src='/js/storage/services/select.js'></script>
    <script src='/js/storage/services/download.js'></script>
  </body>
</html>