<!DOCTYPE html>
<html>
  <title>Library - Rapports</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/report.css" />
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% include ../include/admin_aside.ejs %><!-- @SuppressWhitespace
    --><div class='reports-main-block'>
        <div class='counter'>Rapports: <%= Object.keys(reports).length %></div>
        <div class='filters'>
          <% for(var i = 0; i < Object.keys(types).length; i++) { %><!-- @SuppressWhitespace
            --><div class='filter'>
              <input type='checkbox' name='<%= Object.keys(types)[i] %>' checked><!-- @SuppressWhitespace
              --><div class='label'><%= types[Object.keys(types)[i]] %></div>
            </div>
          <% } %><!-- @SuppressWhitespace
          --><div class='filter'>
            <div class='label'>Statut</div>
            <select id='status' class='filter'>
              <option style='color:#000000' value='all'>Tous</option>
              <% for(var i = 0; i < Object.keys(status).length; i++) { %>
                <option style='color:<%= status[Object.keys(status)[i]]['color'] %>' value='<%= Object.keys(status)[i] %>'><%= status[Object.keys(status)[i]]['name'] %></option>
              <% } %>
            </select>
          </div>
        </div>
        <table class='reports-table'>
          <tr class='reports-table-legend-row admin'>
            <th class='type'>Type</th>
            <th class='date hide'>Date</th>
            <th class='subject'>Sujet</th>
            <th class='status'>Statut</th>
          </tr>
          <% for(var i = 0; i < Object.keys(reports).length; i++) { %>
            <tr id='<%= reports[i]['report_uuid'] %>' class='report <%= reports[i]['report_type'] %> <%= reports[i]['report_status'] %> <% if(i % 2 == 0){ %>odd<% } else{ %>even<% } %>'>
              <td><%= types[reports[i]['report_type']] %></td>
              <td class='hide'><%= reports[i]['report_date'] %></td>
              <td><%= reports[i]['report_subject'] %></td>
              <td style='color:<%= status[reports[i]['report_status']]['color'] %>'><%= status[reports[i]['report_status']]['name'] %></td>
            </tr>
          <% } %>
        </table>
      </div>
    <% include ../include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/js/report/filters.js'></script>
    <script src='/js/report/admin.js'></script>
  </body>
</html>