<!DOCTYPE html>
<html>
  <title>Library - Rapport</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/report.css" />
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% include ../include/admin_aside.ejs %><!-- @SuppressWhitespace
    --><div class='reports-main-block'>
        <div id='report-detail' name='<%= report['uuid'] %>' class='report-detail'>
          <div class='subject'><%= report['report_subject'] %></div><!-- @SuppressWhitespace
          --><div class='label'>Statut : </div><!-- @SuppressWhitespace
          --><div id='report-status' style='color:<%= status[report['report_status']]['color'] %>' class='status'><%= status[report['report_status']]['name'] %></div><br>
          <div class='label'>Date : </div><!-- @SuppressWhitespace
          --><div class='date'><%= report['report_date'] %></div><br>
          <div class='label'>Type : </div><!-- @SuppressWhitespace
          --><div class='type'><%= types[report['report_type']] %></div><br>
          <div class='label'>Changer de statut : </div><!-- @SuppressWhitespace
          --><div class='status-selection-block'>
            <select id='status-selection' class='list' style='color:<%= status[report['report_status']]['color'] %>'>
              <option value='2' style='color:<%= status[2]['color'] %>' <% if(report['report_status'] == 2){ %>selected='selected'<% } %>>En cours</option>
              <option value='3' style='color:<%= status[3]['color'] %>' <% if(report['report_status'] == 3){ %>selected='selected'<% } %>>Fermé</option>
              <option value='4' style='color:<%= status[4]['color'] %>' <% if(report['report_status'] == 4){ %>selected='selected'<% } %>>Résolu</option>
            </select>
            <button id='status-selection-change-button' class='send'>Envoyer</button>
          </div>
          <div class='label'>Description : </div><br>
          <div class='description'><%= report['report_content'] %></div>
          <div class='title'>Commentaires : </div>
          <div id='comments-block' class='comments-block'>
          <div id='update-message' class='update-done'>
            <i class='fa fa-check update-icon' aria-hidden='true'></i><!-- @SuppressWhitespace
            --><div class='update-message'>Commentaires à jour</div>
          </div>
          <% for(var i = Object.keys(report['comments']).length - 1; i >= 0; i--){ %>
            <div id='<%= report['comments'][i]['id'] %>' <% if(report['comments'][i]['admin'] == 0){ %>name='<%= report['comments'][i]['seen'] %><% } %>' class='comment <% if(report['comments'][i]['admin'] == 1){ %>admin-comment<% } else{ if(report['comments'][i]['seen'] == 0){ %>not-read-comment<% } else{ %>read-comment<% } } %>'>
              <% if(report['comments'][i]['admin'] == 1){ %><i class='fa fa-star admin-star' aria-hidden='true'></i><% } %>
              <div class='log-head'>
                <div class='log-date'><%= report['comments'][i]['date'] %></div>
                <div class='log-label'><%= report['comments'][i]['account'] %></div>
              </div><!-- @SuppressWhitespace
              --><% if(report['comments'][i]['admin'] == 0){ if(report['comments'][i]['seen'] == 0){ %><button class='log-button log-button-read'>Marquer comme lu</button><% } else{ %><button class='log-button log-button-not-read'>Marquer comme non-lu</button><% } } %>
              <div <% if(report['comments'][i]['admin'] == 0){ %>class='log-message'<% } else{ %>class='log-message-admin'<% } %>><%= report['comments'][i]['content'] %></div>
            </div>
          <% } %>
        </div>
      </div>
    <% include ../include/scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/admin/reports/update.js'></script>
    <script src='/js/admin/reports/socket.js'></script>
    <script src='/js/afk.js'></script>
  </body>
</html>