<!DOCTYPE html>
<html>
  <% include ../include/head.ejs %>
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% include ../include/admin_aside.ejs %>
    <div class='admin-main-block'>
      <button id='create-user-button' class='create'><i class="fa fa-user-plus" aria-hidden="true"></i></button>
      <div class='info'>Cliquez sur un utilisateur</div>
      <table class='admin-users-table'>
        <tr>
          <th class='admin-users-table-email'>Adresse Email</th>
          <th class='admin-users-table-lastname'>Nom</th>
          <th class='admin-users-table-firstname'>Prénom</th>
          <th class='admin-users-table-service'>Service</th>
          <th class='admin-users-table-activated'>Activé</th>
          <th class='admin-users-table-suspended'>Suspendu</th>
          <th class='admin-users-table-admin'>Admin</th>
        </tr>
        <% for(var i = 0; i < users.length; i++){ %>
          <tr name='admin-users-table-row' id='<%= users[i]['uuid'] %>'<% if(i % 2 == 0){ %>class='odd'<% } else{ %>class='even'<% } %></tr>
            <td class='admin-users-table-email'><%= users[i]['email'] %></td>
            <td class='admin-users-table-lastname'><%= users[i]['lastname'] %></td>
            <td class='admin-users-table-firstname'><%= users[i]['firstname'] %></td>
            <td class='admin-users-table-service'><%= services[users[i]['service']]['name'] %></td>
            <td class='admin-users-table-activated'><% if(users[i]['activated'] == 1) { %><%= 'Oui' %><% } else { %><%= 'Non' %><% } %></td>
            <td class='admin-users-table-suspended'><% if(users[i]['suspended'] == 1) { %><%= 'Oui' %><% } else { %><%= 'Non' %><% } %></td>
            <td class='admin-users-table-admin'><% if(users[i]['is_admin'] == 1) { %><%= 'Oui' %><% } else { %><%= 'Non' %><% } %></td>
          </tr>
        <% } %>
      </table>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/js/admin/root.js'></script>
  </body>
</html>