<!DOCTYPE html>
<html>
  <title>Library - Utilisateurs</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/admin/user/table.css" />
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% include ../include/admin_aside.ejs %><!-- @SuppressWhitespace
    --><div class='admin-main-block'>
      <button id='create-user-button' class='create'>Créer un compte</button>
      <div class='info'>Cliquez sur un utilisateur pour accéder au détail de celui-ci</div>
      <table class='admin-users-table'>
        <tr class='labels'>
          <th class='email'>Adresse Email</th>
          <th class='lastname'>Nom</th>
          <th class='firstname'>Prénom</th>
          <th class='service'>Service</th>
          <th class='suspended'>Suspendu</th>
          <th class='admin'>Admin</th>
        </tr>
        <% for(var i = 0; i < users.length; i++){ %>
          <tr name='admin-users-table-row' id='<%= users[i]['uuid'] %>' class='value'</tr>
            <td class='email'><%= users[i]['email'] %></td>
            <td class='lastname'><%= users[i]['lastname'] %></td>
            <td class='firstname'><%= users[i]['firstname'] %></td>
            <td class='service'><%= services[users[i]['service']]['name'] %></td>
            <td class='suspended'><% if(users[i]['suspended'] == 1) { %><%= 'Oui' %><% } else { %><%= 'Non' %><% } %></td>
            <td class='admin'><% if(users[i]['is_admin'] == 1) { %><%= 'Oui' %><% } else { %><%= 'Non' %><% } %></td>
          </tr>
        <% } %>
      </table>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/js/admin/root.js'></script>
  </body>
</html>