<!DOCTYPE html>
<html>
  <title>Library - <%= account['firstname'] + ' ' + account['lastname'].toUpperCase() %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/user/edit.css' />
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% include ../include/admin_aside.ejs %><!--
    --><div class='admin-main-block' name='<%= account['uuid'] %>'>
      <a class='return' href='/admin/users'>Retour</a></br>
      <div id='email' name='text' class='block'>
        <div class='key'>Adresse email</div><!-- @SuppressWhitespace
        --><div class='value'><%= account['email'] %></div><!-- @SuppressWhitespace
        --><div class='edit'><button name='admin-users-edit-account-button' class='button'>Modifier</button></div>
      </div><!-- @SuppressWhitespace
      --><div id='lastname' name='text' class='block'>
        <div class='key'>Nom</div><!-- @SuppressWhitespace
        --><div class='value'><%= account['lastname'] %></div><!-- @SuppressWhitespace
        --><div class='edit'><button name='admin-users-edit-account-button' class='button'>Modifier</button></div>
      </div><!-- @SuppressWhitespace
      --><div id='firstname' name='text' class='block'>
        <div class='key'>Prénom</div><!-- @SuppressWhitespace
        --><div class='value'><%= account['firstname'] %></div><!-- @SuppressWhitespace
        --><div class='edit'><button name='admin-users-edit-account-button' class='button'>Modifier</button></div>
      </div><!-- @SuppressWhitespace
      --><div id='service' name='select' class='block'>
        <div class='key'>Service</div><!-- @SuppressWhitespace
        --><div class='value'><%= services[account['service']]['name'] %></div><!-- @SuppressWhitespace
        --><div class='edit'><button name='admin-users-edit-account-button' class='button'>Modifier</button></div>
      </div><!-- @SuppressWhitespace
      --><div id='is_admin' name='select' class='block'>
        <div class='key'>Administrateur</div><!-- @SuppressWhitespace
        --><div class='value'><% if(account['is_admin'] == 1){ %>Oui<% } else{ %>Non<% } %></div><!-- @SuppressWhitespace
        --><div class='edit'><button name='admin-users-edit-account-button' class='button'>Modifier</button></div>
      </div><!-- @SuppressWhitespace
      --><div id='suspended' name='select' class='block'>
        <div class='key'>Suspendu</div><!-- @SuppressWhitespace
        --><div class='value'><% if(account['suspended'] == 1){ %>Oui<% } else{ %>Non<% } %></div><!-- @SuppressWhitespace
        --><div class='edit'><button name='admin-users-edit-account-button' class='button'>Modifier</button></div>
      </div>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/js/admin/user.js'></script>
  </body>
</html>