<!DOCTYPE html>
<html>
  <title><%= strings.admin.appName %> - <%= strings.admin.locations.accounts %></title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/base.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/navigation.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/accounts/base.css' />
  <body>
    <div id='blur'>
      <% include ../include/navigation.ejs %>
      <div class='accounts'>
        <div class='popup' id='account-list-block-popup'></div>
        <div class='title'><%= strings.admin.accounts.labels.list %></div>
        <% if(error != null){ %>
          <div class='error'>
            <div class='message'><%= error.message %></div>
            <% if(error.detail != null){ %><div class='detail'><%= error.detail %></div><% } %>
          </div>
        <% } else{ %>
          <div class='labels'>
            <div class='email'><%= strings.admin.accounts.labels.email %></div><!--
            --><div class='lastname'><%= strings.admin.accounts.labels.lastname %></div><!--
            --><div class='firstname'><%= strings.admin.accounts.labels.firstname %></div><!--
            --><div class='suspended'><%= strings.admin.accounts.labels.suspended %></div>
          </div>
            <% if(Object.keys(accounts).length == 0){ %>
              <div class='empty'><%= strings.admin.accounts.empty %></div>
            <% } else{ %>
              <div id='account-list'>
                <% for(var x = 0; x < Object.keys(accounts).length; x++){ %>
                  <div class='account <% if(x < 10){ %>show<% } else{ %>hide<% } %>' tag='<%= parseInt(x / 10) %>' name='<%= accounts[Object.keys(accounts)[x]].uuid %>'>
                    <div class='email'><%= accounts[Object.keys(accounts)[x]].email %></div><!--
                    --><div class='lastname'><%= accounts[Object.keys(accounts)[x]].lastname.toUpperCase() %></div><!--
                    --><div class='firstname'><%= accounts[Object.keys(accounts)[x]].firstname.charAt(0).toUpperCase() %><%= accounts[Object.keys(accounts)[x]].firstname.slice(1).toLowerCase() %></div><!--
                    --><div class='suspended <% if(accounts[Object.keys(accounts)[x]].suspended){ %>true<% } else{ %>false<% } %>'><% if(accounts[Object.keys(accounts)[x]].suspended){ %><%= strings.admin.accounts.suspended.true %><% } else{ %><%= strings.admin.accounts.suspended.false %><% } %></div>
                  </div>
                <% } %>
              </div>
            <% } %>
            <div class='pages' id='account-pages'>
              <% for(var x = 0; x < 10; x++){ %><!--
                --><div tag='<%= x %>' <% if(x == 0 && Object.keys(accounts).length > 0){ %>id='selected-page'<% } %> class='page<% if(x == 0 && Object.keys(accounts).length > 0){ %> selected<% } %><% if(Object.keys(accounts).length < (x * 10) + 1 ){ %> inactive<% } %>'><%= x + 1 %></div><!--
              --><% } %>
            </div>
        <% } %>
      </div><!--
      --><div class='create' id='create-account-block'>
        <div class='title'><%= strings.admin.accounts.form.title %></div>
        <% if(rights.create_accounts == 0){ %>
          <div class='message'><%= strings.admin.accounts.form.forbidden %></div>
        <% } else{ %>
          <form class='form' id='create-account-form'>
            <div class='error' id='create-account-form-email-error'></div>
            <div class='label'><%= strings.admin.accounts.labels.email %></div><!--
            --><input type='text' name='email' id='create-account-form-email' class='input' required />
            <div class='error' id='create-account-form-lastname-error'></div>
            <div class='label'><%= strings.admin.accounts.labels.lastname %></div><!--
            --><input type='text' name='lastname' id='create-account-form-lastname' class='input' required />
            <div class='error' id='create-account-form-firstname-error'></div>
            <div class='label'><%= strings.admin.accounts.labels.firstname %></div><!--
            --><input type='text' name='firstname' id='create-account-form-firstname' class='input' required />
            <button class='send'><%= strings.admin.accounts.form.send %></button><!--
            --><button type='reset' class='reset'><%= strings.admin.accounts.form.reset %></button>
          </form>
        <% } %>
      </div>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/admin/accounts/home.js'></script>
    <script src='/js/admin/accounts/homeSocket.js'></script>
    <script src='/js/admin/accounts/create.js'></script>
    <script src='/js/admin/accounts/update.js'></script>
    <script src='/js/admin/accounts/modify.js'></script>
  </body>
</html>