<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.administrationStrings.aside.menu[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/administration/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css" />
  <body>
    <% include ../../include/informations.ejs %>
    <div class="mainBlock">
      <% include ../include/header.ejs %>
      <div class="content">
        <div class="contentName"><%= strings.administrationStrings.unitsHome.title %></div>
        <% include ../include/unitsNavBar.ejs %>
        <div class="unitsMainBlock">
          <div class="unitsListHeader">
            <div class="unitsListHeaderColumn"><%= strings.administrationStrings.unitsHome.listHeader.id %></div>
            <div class="unitsListHeaderColumn"><%= strings.administrationStrings.unitsHome.listHeader.name %></div>
            <div class="unitsListHeaderColumn"><%= strings.administrationStrings.unitsHome.listHeader.parent %></div>
            <div class="unitsListHeaderColumn"><%= strings.administrationStrings.unitsHome.listHeader.actions %></div>
          </div>
          <div id="unitList">
            <% for(var x = 0; x < units.length; x++){ %>
              <div class="unitsListElement" name="<%= units[x].unitId %>">
                <div class="unitsListElementColumn"><%= units[x].unitId %></div>
                <div class="unitsListElementColumn"><%= units[x].unitName %></div>
                <% if(units[x].unitParent == null){ %>
                  <div class="unitsListElementColumn"><%= strings.administrationStrings.unitsHome.rootUnit %></div>
                <% } else{ %>
                  <div class="unitsListElementColumn">
                    <select name="<%= units[x].unitParent.parentId %>" onchange="updateUnitParent()">
                      <% for(var y = 0; y < units.length; y++){ %>
                        <% if(units[x].unitId !== units[y].unitId){ %>
                          <% if(units[x].unitChildren.includes(units[y].unitId) == false){ %>
                            <% if(units[x].unitParent.parentId === units[y].unitId){ %>
                              <option value="<%= units[y].unitId %>" selected><%= units[y].unitName %></option>
                            <% } else{ %>
                              <option value="<%= units[y].unitId %>"><%= units[y].unitName %></option>
                            <% } %>
                          <% } %>
                        <% } %>
                      <% } %>
                    </select>
                  </div>
                <% } %>
                <div class="unitsListElementColumn">
                  <button><%= strings.administrationStrings.unitsHome.renameButton %></button>
                  <button><%= strings.administrationStrings.unitsHome.removeButton %></button>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include ../../include/common_scripts.ejs %>
    <script src="/js/administration/exit.js"></script>
    <script src="/js/administration/units/renameUnit.js"></script>
    <script src="/js/administration/units/removeUnit.js"></script>
    <script src="/js/administration/units/updateUnitParent.js"></script>
  </body>
</html>