<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/serviceRights/home.css" />
  <body>
    <% include ../../../include/informations.ejs %>
    <% include ../../includes/aside.ejs %>
    <div class="storageMainBlock">
      <% include ../../includes/admin/navigation.ejs %>
      <a href="/storage/admin" class="rightsOnServicesHomeReturn"><%= strings.storage.admin.serviceRights.home.returnLink %></a>
      <div class="rightsOnServicesHomeInformation">
        <div class="rightsOnServicesHomeInformationTitle"><%= strings.storage.admin.serviceRights.home.informationBlockTitle %></div>
        <ul>
          <li class="rightsOnServicesHomeInformationMessage"><%= strings.storage.admin.serviceRights.home.informationBlockFirstMessage %></li>
          <li class="rightsOnServicesHomeInformationMessage"><%= strings.storage.admin.serviceRights.home.informationBlockSecondMessage %></li>
          <li class="rightsOnServicesHomeInformationMessage"><%= strings.storage.admin.serviceRights.home.informationBlockThirdMessage %></li>
        </ul>
        <div class="rightsOnServicesHomeInformationWarning"><%= strings.storage.admin.serviceRights.home.informationBlockWarning %></div>
      </div>
      <div class="rightsOnServicesHomeServices">
        <div class="rightsOnServicesHomeServicesTitle"><%= strings.storage.admin.serviceRights.home.servicesBlockTitle %></div>
        <div class="rightsOnServicesHomeServicesList">
          <% for(var service in services){ %>
            <div class="rightsOnServicesHomeServicesBlock">
              <div class="rightsOnServicesHomeServicesBlockTitle"><%= services[service].name %></div>
              <div class="rightsOnServicesHomeServicesBlockLevel"><%= strings.storage.admin.serviceRights.home.servicesBlockLevel %> : 0</div>
              <div class="rightsOnServicesHomeServicesBlockAccess"><%= strings.storage.admin.serviceRights.home.servicesBlockAccess %></div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <% include ../../../include/common_scripts.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/storage/exit.js"></script>
  </body>
</html>