<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/serviceRights/home.css" />
  <body>
    <% include ../../../include/informations.ejs %>
    <% include ../../includes/aside.ejs %>
    <div class="storageMainBlock">
      <% include ../../includes/admin/navigation.ejs %>
      <div class="rightsOnServicesHomeServices">
        <div class="rightsOnServicesHomeServicesTitle"><%= strings.storage.admin.serviceRights.home.servicesBlockTitle %></div>
        <div class="rightsOnServicesHomeServicesList">
          <% for(var service in services){ %>
            <div class="rightsOnServicesHomeServicesBlock">
              <div class="rightsOnServicesHomeServicesBlockTitle"><%= services[service].name %></div>
              <% if(isAdmin || services[service].admin){ %>
                <div class="rightsOnServicesHomeServicesBlockLevelEnabled"><%= strings.storage.admin.serviceRights.home.isAdminMessage %></div>
                <a href="/storage/admin/services-rights/<%= service %>" class="rightsOnServicesHomeServicesBlockAccess"><%= strings.storage.admin.serviceRights.home.servicesBlockAccess %></a>
              <% } else{ %>
                <div class="rightsOnServicesHomeServicesBlockLevelDisabled"><%= strings.storage.admin.serviceRights.home.isNotAdminMessage %></div>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <% include ../../../include/common_scripts.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/storage/exit.js"></script>
  </body>
</html>