<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.initSection.formPage.headerTitle %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/init.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <body>
    <% include ../include/informations.ejs %>
    <div class="initFormBlock">
      <div class="initFormBlockTitle"><%= strings.common.initSection.formPage.formTitle %></div>
      <div class="initFormBlockMessage"><%= strings.common.initSection.formPage.formMessage %></div>
      <form id="initForm">
        <div class="initFormBlockSection">
          <div class="initFormBlockSectionTitle"><%= strings.common.initSection.formPage.databaseSection.title %></div>
          <div class="initFormBlockSectionField">
            <div id="databaseHostError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.databaseSection.addressLabel %></div>
            <input id="databaseHost" value="<%= data.database.host %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.databaseSection.addressPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.databaseSection.addressHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div id="databasePortError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.databaseSection.portLabel %></div>
            <input id="databasePort" value="<%= data.database.port %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.databaseSection.portPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.databaseSection.portHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div id="databaseUserError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.databaseSection.userLabel %></div>
            <input id="databaseUser" value="<%= data.database.user %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.databaseSection.userPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.databaseSection.userHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div id="databasePassError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.databaseSection.passwordLabel %></div>
            <input id="databasePass" value="<%= data.database.password %>" type="password" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.databaseSection.passwordPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.databaseSection.passwordHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.databaseSection.dbmsLabel %></div>
            <select id="databaseDbms" class="initFormBlockSectionInput">
              <option value="mysql" <% if(data.database.dbms === 'mysql'){ %>selected<% } %>>MySQL</option>
            </select>
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.databaseSection.dbmsHelp %></div>
          </div>
        </div>
        <div class="initFormBlockSection">
          <div class="initFormBlockSectionTitle"><%= strings.common.initSection.formPage.storageSection.title %></div>
          <div class="initFormBlockSectionField">
            <div id="storagePathError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.storageSection.pathLabel %></div>
            <input id="storagePath" value="<%= data.storage.root %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.storageSection.pathPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.storageSection.pathHelp %></div>
          </div>
        </div>
        <div class="initFormBlockSection">
          <div class="initFormBlockSectionTitle"><%= strings.common.initSection.formPage.transporterSection.title %></div>
          <div class="initFormBlockSectionField">
            <div id="transporterHostError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.transporterSection.serverLabel %></div>
            <input id="transporterHost" value="<%= data.transporter.address %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.transporterSection.serverPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.transporterSection.serverHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div id="transporterPortError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.transporterSection.portLabel %></div>
            <input id="transporterPort" value="<%= data.transporter.port %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.transporterSection.portPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.transporterSection.portHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div id="transporterUserError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.transporterSection.addressLabel %></div>
            <input id="transporterUser" value="<%= data.transporter.user %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.transporterSection.addressPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.transporterSection.addressHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div id="transporterPassError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.transporterSection.passwordLabel %></div>
            <input id="transporterPass" value="<%= data.transporter.password %>" type="password" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.transporterSection.passwordPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.transporterSection.passwordHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.transporterSection.secureLabel %></div>
            <select id="transporterSecure" class="initFormBlockSectionInput">
              <option value="true" <% if(data.transporter.secure == true){ %>selected<% } %>>Oui</option>
              <option value="false" <% if(data.transporter.secure == false){ %>selected<% } %>>Non</option>
            </select>
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.transporterSection.secureHelp %></div>
          </div>
        </div>
        <div class="initFormBlockSection">
          <div class="initFormBlockSectionTitle"><%= strings.common.initSection.formPage.otherSection.title %></div>
          <div class="initFormBlockSectionField">
            <div id="otherLogoutError" class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.otherSection.logoutLabel %></div>
            <input id="otherLogout" min="0" max="60" value="<%= parseInt(data.timeout / 60000) %>" type="number" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.otherSection.logoutPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.otherSection.logoutHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div class="initFormBlockSectionError"><%= strings.common.initSection.formPage.formError %></div>
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.otherSection.portLabel %></div>
            <input id="otherPort" value="<%= data.port %>" type="text" class="initFormBlockSectionInput" placeholder="<%= strings.common.initSection.formPage.otherSection.portPlaceholder %>" required />
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.otherSection.portHelp %></div>
          </div>
          <div class="initFormBlockSectionField">
            <div class="initFormBlockSectionLabel"><%= strings.common.initSection.formPage.otherSection.saltLabel %></div>
            <select id="otherSalt" class="initFormBlockSectionInput">
              <option value="true">Oui</option>
              <option value="false">Non</option>
            </select>
            <div class="initFormBlockSectionHelp"><%= strings.common.initSection.formPage.otherSection.saltHelp %></div>
          </div>
        </div>
        <button class="initFormSubmit"><%= strings.common.initSection.formPage.formSubmit %></button>
      </form>
    </div>
    <script src="/js/jQuery.js"></script>
    <script src='/js/common/background.js'></script>
    <script src='/js/common/informations.js'></script>
    <script src="/js/init/check.js"></script>
  </body>
</html>