<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.initSection.logonPage.headerTitle %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/init.css" />
  <body>
    <div class="initLogonBlock">
      <div class="initLogonBlockTitle"><%= strings.common.initSection.logonPage.welcomeTitle %></div>
      <div class="initLogonBlockMessage"><%= strings.common.initSection.logonPage.welcomeMessage %></div>
      <form id="initLogonForm" class="initLogonForm">
        <div id="errorMessage" class="initLogonFormError"></div>
        <input class="initLogonFormInput" type="password" placeholder="<%= strings.common.initSection.logonPage.passwordInputPlaceholder %>" id="password" required />
        <button type="submit" class="initLogonFormSubmit"><%= strings.common.initSection.logonPage.submitButton %></button>
      </form>
    </div>
    <script src="/js/jQuery.js"></script>
    <script src="/js/init/logon.js"></script>
  </body>
</html>