<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/includes.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/root/account/base.css" />
  <body>  
    <% include ../../include/informations.ejs %>
    <div class="mainSection">
      <div class="subSection">
        <% include ../include/header.ejs %>
        <div class="contentSection">
          <div class="asideColumn">
            <% include ../include/aside.ejs %>
            <% include ../include/news.ejs %>
          </div>
          <div class="centerColumn">
            <div class="accountSection">
              <div class="accountSectionTitle">Mon Compte</div>
              <% if(locals.account == null){ %>
                <div class="accountDataErrorBlock">
                  <div class="accountDataErrorBlockTitle"><%= strings.common.root.account.accountLoadingError.title %></div>
                  <div class="accountDataErrorBlockMessage"><%= strings.common.root.account.accountLoadingError.message %></div>
                  <a href="/account" class="accountDataErrorBlockReload"><%= strings.common.root.account.accountLoadingError.reload %></a>
                </div>
              <% } else{ %>
                <div class="accountDataPictureBlock">
                  <div class="accountDataPictureBlockCircle"><img id="accountDataPicture" class="accountDataPictureBlockAvatar" src="<%= locals.account.picture %>" /></div>
                  <div class="accountDataPictureBlockUpdate" id="accountDataUpdatePicture"><%= strings.common.root.account.accountPictureBlockUpdate %></div>
                </div>
                <div class="accountData">
                  <div class="accountDataContainer">
                    <div class="accountDataBlock">
                      <div class="accountDataBlockValue" id="accountDataEmail"><%= locals.account.email %></div>
                      <div class="accountDataBlockUpdate" id="accountDataUpdateEmail"><%= strings.common.root.account.emailBlockUpdate %></div>
                    </div>
                    <div class="accountDataBlock">
                      <div class="accountDataBlockValue" id="accountDataLastname"><%= locals.account.lastname.charAt(0).toUpperCase() %><%= locals.account.lastname.slice(1).toLowerCase() %></div>
                      <div class="accountDataBlockUpdate" id="accountDataUpdateLastname"><%= strings.common.root.account.lastnameBlockUpdate %></div>
                    </div>
                    <div class="accountDataBlock">
                      <div class="accountDataBlockValue" id="accountDataFirstname"><%= locals.account.firstname.charAt(0).toUpperCase() %><%= locals.account.firstname.slice(1).toLowerCase() %></div>
                      <div class="accountDataBlockUpdate" id="accountDataUpdateFirstname"><%= strings.common.root.account.firstnameBlockUpdate %></div>
                    </div>
                    <div class="accountDataBlock">
                      <% if(locals.account.contactNumber == null){ %>
                        <div class="accountDataBlockValue" id="accountDataContactNumber">N/A</div>
                      <% } else{ %>
                        <div class="accountDataBlockValue" id="accountDataContactNumber">+<%= locals.account.contactNumber %></div>
                      <% } %>
                      <div class="accountDataBlockUpdate" id="accountDataUpdateContactNumber"><%= strings.common.root.account.contactNumberBlockUpdate %></div>
                    </div>
                  </div>
                </div>
                <div class="accountData">
                  <button id="accountDataUpdatePassword" class="accountPasswordUpdate"><%= strings.common.root.account.passwordBlockUpdate %></button>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% include ../include/footer.ejs %>
    </div>
    <% include ../../include/common_scripts.ejs %>
    <% include ../include/scripts.ejs %>
    <% include ../../messenger.ejs %>
    <script src='/js/root/news/selectNewsExternal.js'></script>
    <script src='/js/root/account/updateData.js'></script>
    <script src='/js/root/account/updatePassword.js'></script>
    <script src='/js/root/account/updatePicture.js'></script>
  </body>
</html>