<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.services %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/detail.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/uploadFilePopup.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/removeFilesPopup.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/downloadFilePopup.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/createFolderPopup.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/fileDetailAside.css" />
  <body>
    <% include ../../include/informations.ejs %>
    <% include ../includes/aside.ejs %>
    <div class="storageServiceMainBlock" id="serviceUuid" name="<%= serviceData.serviceUuid %>">
      <div class="serviceDetailTools">
        <div class="serviceName"><%= serviceData.serviceName.toUpperCase() %></div>
        <div class="serviceActions">
          <% if(serviceRights.uploadFiles || isAdmin || serviceRights.isAdmin){ %>
            <button id="uploadFileButton" class="serviceUploadFile"><%= strings.storage.services.detailPage.asideTools.uploadFileButton %></button>
          <% } %>
          <% if(serviceRights.createFolders || isAdmin || serviceRights.isAdmin){ %>
            <button id="createFolderButton" class="serviceCreateFolder"><%= strings.storage.services.detailPage.asideTools.createFolderButton %></button>
          <% } %>
          <div id="unselectAllFiles" class="serviceUnselectFilesDisabled"><%= strings.storage.services.detailPage.asideTools.unselectAll %></div>
          <% if(serviceRights.downloadFiles || isAdmin || serviceRights.isAdmin){ %>
            <div id="downloadSelection" class="serviceDownloadFilesDisabled"><%= strings.storage.services.detailPage.asideTools.downloadSelection %></div>
          <% } %>
          <% if(serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
            <div id="removeSelection" class="serviceRemoveFilesDisabled"><%= strings.storage.services.detailPage.asideTools.removeSelection %></div>
          <% } %>
        </div>
        <div class="storageServiceMainBlockToolsSelectionAmount">
          <div class="storageServiceMainBlockToolsSelectionAmountKey"><%= strings.storage.services.detailPage.asideTools.amountOfSelectedFiles %></div>
          <div class="storageServiceMainBlockToolsSelectionAmountValue" id="selectedFilesAmount">0</div>
        </div>
        <!--<div class="storageServiceMainBlockToolsFiltersBlock">
          <div class="storageServiceMainBlockToolsFiltersTitle"><%= strings.storage.services.detailPage.asideTools.filtersTitle %></div>
          <div class="storageServiceMainBlockToolsFiltersList" id="filtersList">
            <% for(var element in allExtensions){ %>
              <div class="storageServiceMainBlockToolsFiltersListElement">
                <div class="storageServiceMainBlockToolsFiltersListElementLabel"><%= allExtensions[element].toUpperCase() %></div>
                <input class="storageServiceMainBlockToolsFiltersListElementCheckbox" value="<%= allExtensions[element] %>" type="checkbox" checked />
              </div>
            <% } %>
          </div>
        </div>-->
      </div>
      <div class="storageServiceMainBlockFiles">
        <div class="storageServiceMainBlockFilesHeader">
          <div class="storageServiceMainBlockFilesHeaderSearchBlock">
            <div class="storageServiceMainBlockFilesHeaderSearchIcon"><i class="fas fa-search"></i></div>
            <input type="text" placeholder="<%= strings.storage.services.detailPage.filesSection.header.searchBarPlaceholder %>" id="filesAndFoldersSearchBar" class="storageServiceMainBlockFilesHeaderSearchBar" />
          </div>
          <div class="storageServiceMainBlockFilesHeaderDisplaySelection" id="displays">
            <div id="selectedDisplay" name="largeGrid" class="storageServiceMainBlockFilesHeaderDisplaySelectionElementEnabled"><i class="fas fa-th-large"></i></div>
            <div name="smallGrid" class="storageServiceMainBlockFilesHeaderDisplaySelectionElementDisabled"><i class="fas fa-th"></i></div>
            <div name="list" class="storageServiceMainBlockFilesHeaderDisplaySelectionElementDisabled"><i class="fas fa-th-list"></i></div>
          </div>
        </div>
        <div id="currentPathLocation" class="storageServiceMainBlockFilesPath">
          <div class="storageServiceMainBlockFilesPathBlockSelected"><%= strings.storage.services.detailPage.filesSection.rootPath %></div>
        </div>
        <div class="serviceElements" id="currentFolder">
          <% if(serviceFilesAndFolders.files.length === 0 && serviceFilesAndFolders.folders.length === 0){ %>
            <div class="serviceElementsEmpty"><%= strings.storage.services.detailPage.filesSection.serviceElements.emptyFolder %></div>
          <% } else{ %>
            <div class="serviceFolders" id="foldersContainer">
              <% serviceFilesAndFolders.folders.forEach((folder) => { %>
                <div class="serviceElementsFileLargeGrid" name="<%= folder.uuid %>">
                  <div class="icon serviceElementsFolder"><i class="far fa-folder-open"></i></div>
                  <div class="name"><%= folder.name %></div>
                </div>
              <% }); %>
            </div>
            <div class="serviceFiles" id="filesContainer">
              <% serviceFilesAndFolders.files.forEach((file) => { %>
                <% switch(file.name.split('.')[file.name.split('.').length - 1]){
                  case 'zip': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileArchive"><i class="far fa-file-archive"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'txt': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileTxt"><i class="far fa-file-alt"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'doc': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileDoc"><i class="far fa-file-word"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'docx': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileDocx"><i class="far fa-file-word"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'ppt': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFilePpt"><i class="far fa-file-powerpoint"></i></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'pptx': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFilePptx"><i class="far fa-file-powerpoint"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'xls': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileXls"><i class="far fa-file-excel"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'xlsx': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileXlsx"><i class="far fa-file-excel"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'pdf': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFilePdf"><i class="far fa-file-pdf"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'png': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFilePng"><i class="far fa-file-image"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  case 'jpg': %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileJpg"><i class="far fa-file-image"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break;
                  default: %>
                    <div name="<%= file.uuid %>" class="serviceElementsFileLargeGrid">
                      <% if(serviceRights.downloadFiles || serviceRights.removeFiles || isAdmin || serviceRights.isAdmin){ %>
                        <input class="checkbox" type="checkbox" />
                      <% } %>
                      <div class="icon serviceElementsFileDefault"><i class="far fa-file"></i></div>
                      <div class="name"><%= file.name %></div>
                    </div>
                  <% break; %>
                <% } %>
              <% }); %>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <% include ../../include/common_scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/storage/services/upload.js'></script>
    <script src='/js/storage/services/select.js'></script>
    <script src='/js/storage/services/search.js'></script>
    <script src='/js/storage/services/display.js'></script>
    <script src='/js/storage/services/createFolder.js'></script>
    <script src='/js/storage/services/removeFiles.js'></script>
    <script src='/js/storage/services/downloadFiles.js'></script>
    <script src='/js/storage/services/filters.js'></script>
    <script src='/js/storage/services/fileDetail.js'></script>
    <script src='/js/storage/services/folderBrowseAndDetail.js'></script>
    <script src='/js/storage/services/updateFolderName.js'></script>
    <script src='/js/storage/services/commentFile.js'></script>
    <script src='/js/storage/services/socket.js'></script>
    <script src='/js/storage/exit.js'></script>
  </body>
</html>