<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.services %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/detail.css" />
  <body>
    <% include ../includes/aside.ejs %>
      <div class="informationsBlock" id="storageInformationsBlock"></div>
      <div class='mainBlock' id='mainBlock' name="<%= service.uuid %>">
        <% if(error != null){ %>
          <div class='mainBlockLocation'><%= strings.storage.locations.services %></div>
          <div class='storageErrorBlock'>
            <div class='storageErrorBlockIcon'><i class='fas fa-exclamation-circle'></i></div><div class='storageErrorBlockMessage'><%= error.message %></div>
          </div>
        <% } else{ %>
          <div class='mainBlockLocation'><%= strings.storage.locations.services %> / <%= service.name %></div>
          <div class='aside'>
            <div class='info'>
              <div class='upload'>
                <% if(rights.uploadFiles == true){ %>
                  <button id='upload' class="uploadFileButton"><%= strings.storage.services.info.upload.true %></button>
                <% } else{ %>
                  <div class="uploadFileFalse"><%= strings.storage.services.info.upload.false %></div>
                <% } %>
              </div>
            </div>
            <div class='actions' id='actions'>
              <div class='selection' name='0'><%= strings.storage.services.selected %> : 0</div>
              <div class='content'>
                <button class='select' id='selectAll'><%= strings.storage.services.info.selectAll %></button>
                <button class='select' id='unselectAll'><%= strings.storage.services.info.unselectAll %></button>
                <% if(rights.downloadFiles == true){ %>
                  <button id="downloadFilesButton" class="downloadFilesButton" title="<%= strings.storage.services.actions.downloadButton.titles.true %>"><%= strings.storage.services.actions.downloadButton.label %></button>
                <% } else{ %>
                  <button class="downloadFilesButtonOff" title="<%= strings.storage.services.actions.downloadButton.titles.false %>"><%= strings.storage.services.actions.downloadButton.label %></button>
                <% } %>
                <% if(rights.removeFiles == true){ %>
                  <button id="removeFilesButton" class="removeFilesButton" title="<%= strings.storage.services.actions.removeButton.titles.true %>"><%= strings.storage.services.actions.removeButton.label %></button>
                <% } else{ %>
                  <button class="removeFilesButtonOff" title="<%= strings.storage.services.actions.removeButton.titles.false %>"><%= strings.storage.services.actions.removeButton.label %></button>
                <% } %>
              </div>
            </div>
            <div class='filters'>
              <div class='label'><div class='left'><%= strings.storage.services.filters.label %></div><div class='right'><i class='fas fa-angle-down'></i></div></div>
              <div class='content'>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.doc %></div><input type='checkbox' name='filter' class='checkbox' value='doc' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.xls %></div><input type='checkbox' name='filter' class='checkbox' value='xls' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.ppt %></div><input type='checkbox' name='filter' class='checkbox' value='ppt' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.pdf %></div><input type='checkbox' name='filter' class='checkbox' value='pdf' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.txt %></div><input type='checkbox' name='filter' class='checkbox' value='txt' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.png %></div><input type='checkbox' name='filter' class='checkbox' value='png' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.archive %></div><input type='checkbox' name='filter' class='checkbox' value='zip' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.default %></div><input type='checkbox' name='filter' class='checkbox' value='default' checked /></div>
              </div>
            </div>
          </div><!--
          --><div class='files'>
            <div class='display' id='display'>
              <div name='large' tag='true' id="selectedDisplay" class='choice true'><i class='fas fa-th-large'></i></div>
              <div name='small' tag='false' class='choice false'><i class='fas fa-th'></i></div>
              <div name='list' tag='false' class='choice false'><i class='fas fa-th-list'></i></div>
            </div>
            <input class="searchBar" type="text" placeholder="<%= strings.storage.services.searchPlaceholder %>" />
            <% if(rights.createFolders == true){ %>
              <button id="newFolderButton" class="newFolderButton" title="<%= strings.storage.services.newFolder.button.titles.true %>"><%= strings.storage.services.newFolder.button.label %></button>
            <% } else{ %>
              <button class="newFolderButtonOff" title="<%= strings.storage.services.newFolder.button.titles.false %>"><%= strings.storage.services.newFolder.button.label %></button>
            <% } %>
            <div class="currentPath" id="currentPath">
              <div name="" class="currentPathBlockSelected">/</div>
            </div>
            <div id='filesBlock' name=''>
              <% elements.folders.forEach((folder) =>
              { %>
                <div class="storageAppServiceFolderLarge" id="<%= folder.uuid %>" onclick="checkSingleOrDoubleClick('<%= folder.uuid %>')">
                  <div class="storageAppServiceFolderLargeIcon"><i class="fas fa-folder-open fa-rotate-90"></i></div><!--
                  --><div class="storageAppServiceFolderLargeName"><%= folder.name %></div>
                </div>
              <% }) %>
              <% elements.files.forEach((file) =>
              {
                switch(file.extension)
                { 
                  case 'doc': %><div class='storageAppServicesFilesLarge' tag='doc' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon doc'><i class="far fa-file-word"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'docx': %><div class='storageAppServicesFilesLarge' tag='doc' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon doc'><i class="far fa-file-word"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'ppt': %><div class='storageAppServicesFilesLarge' tag='ppt' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon ppt'><i class="far fa-file-powerpoint"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'pptx': %><div class='storageAppServicesFilesLarge' tag='ppt' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon ppt'><i class="far fa-file-powerpoint"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'xls': %><div class='storageAppServicesFilesLarge' tag='xls' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon xls'><i class="far fa-file-excel"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'xlsx': %><div class='storageAppServicesFilesLarge' tag='xls' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon xls'><i class="far fa-file-excel"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'pdf': %><div class='storageAppServicesFilesLarge' tag='pdf' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon pdf'><i class="far fa-file-pdf"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'txt': %><div class='storageAppServicesFilesLarge' tag='txt' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon txt'><i class="far fa-file-alt"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'png': %><div class='storageAppServicesFilesLarge' tag='png' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon png'><i class="far fa-file-image"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'jpg': %><div class='storageAppServicesFilesLarge' tag='png' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon jpg'><i class="far fa-file-image"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'zip': %><div class='storageAppServicesFilesLarge' tag='zip' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon zip'><i class="far fa-file-archive"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% case 'rar': %><div class='storageAppServicesFilesLarge' tag='zip' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon zip'><i class="far fa-file-archive"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                  <% default: %><div class='storageAppServicesFilesLarge' tag='default' id='<%= file.uuid %>'><div class='storageAppServicesFilesLargeIcon default'><i class="far fa-file"></i></div><div class='storageAppServicesFilesLargeName'><%= file.name %>.<%= file.extension %></div><% if((rights.downloadFiles == true || rights.removeFiles == true) && file.deleted == 0){ %><input type='checkbox' class='storageAppServicesFilesLargeCheckbox' onchange='selectFile(this)' /><% } %></div><% break %>
                <% } 
              }) %>
            </div>
          </div>
        <% } %>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/jQueryUI.js'></script>
    <script src='/js/functions.js'></script>
    <script src='/js/afk.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/storage/messages.js'></script>
    <script src='/js/storage/services/upload.js'></script>
    <script src='/js/storage/services/select.js'></script>
    <script src='/js/storage/services/display.js'></script>
    <script src='/js/storage/services/browse.js'></script>
    <script src='/js/storage/services/folder.js'></script>
    <script src='/js/storage/services/remove.js'></script>
    <script src='/js/storage/services/download.js'></script>
    <script src='/js/storage/services/filters.js'></script>
    <script src='/js/storage/services/detail.js'></script>
    <script src='/js/storage/services/comment.js'></script>
    <script src='/js/storage/services/socket.js'></script>
    <script src='/js/storage/exit.js'></script>
  </body>
</html>