<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.services %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/detail.css" />
  <body>
    <div id='blur'>
      <% include ../includes/navigation.ejs %>
      <div class='main' id='main' <% if(service != null){ %>name='<%= service.name %>'<% } %>>
        <div class='header'>
          <div class='bookmark'><i class='fas fa-bookmark'></i></div><div class='location'><%= `${strings.storage.locations.services} /` %><% if(service != null){ %><%= service.label %><% } else{ %>...<% } %> %></div>
        </div>
        <% if(error != null){ %>
          <div class='error'>
            <div class='message'><div class='left'><i class='fas fa-exclamation-circle'></i></div><div class='right'><%= error.message %></div></div>
            <% if(error.detail != undefined){ %>
              <div class='detail'>
                <div class='label'><%= strings.common.errors.detail %></div>
                <div class='content'><%= error.detail %></div>
              </div>
            <% } %>
          </div>
        <% } else{ %>
          <div class='aside'>
            <div class='info'>
              <div id='filesCounter' class='count'><%= strings.storage.services.info.count %> : <%= Object.keys(files).length %></div>
              <div class='upload'>
                <% if(rights.upload == 1){ %>
                  <button id='upload' class='true'><%= strings.storage.services.info.upload.true %></button>
                <% } else{ %>
                  <div class='false'><%= strings.storage.services.info.upload.false %></div>
                <% } %>
              </div>
            </div>
            <div class='actions' id='actions'>
              <div class='selection'><%= strings.storage.services.selected %> : 0</div>
              <div class='content'>
                <button class='select' id='selectAll'><%= strings.storage.services.info.selectAll %></button>
                <button class='select' id='unselectAll'><%= strings.storage.services.info.unselectAll %></button>
                <% if(rights.download == 0){ %>
                  <div class='download'><div class='status false'><%= strings.storage.services.unauthorized %></div><div class='disabled'><i class='fas fa-cloud-download-alt'></i></div></div>
                <% } else{ %>
                  <div class='download'><div class='status true'><%= strings.storage.services.authorized %></div><div class='enabled' id='download'><i class='fas fa-cloud-download-alt'></i></div></div>
                <% } %>
                <% if(rights.remove == 0){ %>
                  <div class='remove'><div class='status false'><%= strings.storage.services.unauthorized %></div><div class='disabled'><i class='fas fa-trash'></i></div></div>
                <% } else{ %>
                  <div class='remove'><div class='status true'><%= strings.storage.services.authorized %></div><div class='enabled' id='remove'><i class='fas fa-trash'></i></div></div>
                <% } %>
              </div>
            </div>
            <div class='filters'>
              <div class='label'><div class='left'><%= strings.storage.services.filters.label %></div><div class='right'><i class='fas fa-angle-down'></i></div></div>
              <div class='content'>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.doc %></div><input type='checkbox' name='filter' class='checkbox' value='doc' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.xls %></div><input type='checkbox' name='filter' class='checkbox' value='xls' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.ppt %></div><input type='checkbox' name='filter' class='checkbox' value='ppt' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.pdf %></div><input type='checkbox' name='filter' class='checkbox' value='pdf' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.txt %></div><input type='checkbox' name='filter' class='checkbox' value='txt' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.png %></div><input type='checkbox' name='filter' class='checkbox' value='png' checked /></div>
                <div class='filter'><div class='value'><%= strings.storage.services.filters.values.default %></div><input type='checkbox' name='filter' class='checkbox' value='default' checked /></div>
              </div>
            </div>
          </div><!--
          --><div class='files'>
            <div class='display' id='display'>
              <div name='large' tag='true' class='choice true'><i class='fas fa-th-large'></i></div>
              <div name='small' tag='false' class='choice false'><i class='fas fa-th'></i></div>
              <div name='list' tag='false' class='choice false'><i class='fas fa-th-list'></i></div>
            </div>
            <div id='filesBlock'>
              <% for(var file in files)
              { 
                switch(files[file].ext)
                { 
                  case 'doc': %><div class='file large' tag='doc' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'></div><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon word'><i class='fas fa-file-word'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'docx': %><div class='file large' tag='doc' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon word'><i class='fas fa-file-word'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'ppt': %><div class='file large' tag='ppt' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon powerpoint'><i class='fas fa-file-powerpoint'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'pptx': %><div class='file large' tag='ppt' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon powerpoint'><i class='fas fa-file-powerpoint'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'xls': %><div class='file large' tag='xls' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon excel'><i class='fas fa-file-excel'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'xlsx': %><div class='file large' tag='xls' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon excel'><i class='fas fa-file-excel'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'pdf': %><div class='file large' tag='pdf' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon pdf'><i class='fas fa-file-pdf'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'txt': %><div class='file large' tag='txt' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon text'><i class='fas fa-file-alt'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'png': %><div class='file large' tag='png' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon picture'><i class='fas fa-file-image'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% case 'jpg': %><div class='file large' tag='png' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon picture'><i class='fas fa-file-image'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break %>
                  <% default: %><div class='file large' tag='default' name='<%= `${files[file].name}.${files[file].ext}` %>'><% if((rights.download == 1 || rights.remove == 1) && files[file].deleted == 0){ %><div class='checkbox'><input type='checkbox' class='target' onchange='selectFile(this)' /></div><% } %><% if(files[file].deleted == 1){%><div class='deleted'><i class='fas fa-times'></i></div><% } %><div class='icon default'><i class='fas fa-file'></i></div><div class='name'><%= files[file].name %>.<%= files[file].ext %></div></div><% break 
                } 
              } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/functions.js'></script>
    <script src='/js/afk.js'></script>
    <script src='/js/fontawesome.js'></script>
    <script src='/js/navigation/menu.js'></script>
    <script src='/js/navigation/account.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/storage/services/socket.js'></script>
    <script src='/js/storage/services/select.js'></script>
    <script src='/js/storage/services/upload.js'></script>
    <script src='/js/storage/services/remove.js'></script>
    <script src='/js/storage/services/display.js'></script>
    <script src='/js/storage/services/filters.js'></script>
    <script src='/js/storage/services/download.js'></script>
  </body>
</html>