<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.services %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/services/list.css" />
  <body>
    <% include ../includes/aside.ejs %>
    <div id='mainBlock' class='mainBlock'>
      <div class='mainBlockLocation'><%= strings.storage.locations.services %></div>
      <% if(error != null){ %>
        <div class='storageErrorBlock'>
          <div class='storageErrorBlockIcon'><i class='fas fa-exclamation-circle'></i></div><div class='storageErrorBlockMessage'><%= error.message %></div>
        </div>
      <% } else{ %>
        <% if(Object.keys(rights).length == 0){ %>
          <div class="emptyServicesIcon"><i class="fas fa-10x fa-box-open"></i></div>
          <div class="emptyServicesMessage"><%= strings.storage.noServicesAccess %></div>
        <% } else if(Object.keys(services).length == 0){ %>
          <div class="emptyServicesIcon"><i class="fas fa-10x fa-box-open"></i></div>
          <div class="emptyServicesMessage"><%= strings.storage.emptyServicesMessage %></div>
        <% } else{ %>
          <% for(var key in services){ %>
            <% if(rights[key] != undefined){ %><!--
           --><div name='serviceBlock' ondblclick='openService("<%= key %>")' onclick='selectService("<%= key %>")' id='<%= key %>' class='serviceBlock'>
                <div class='serviceBlockIcon'><i class="fas fa-folder"></i></div>
                <div class='serviceBlockName'><%= services[key].name.charAt(0).toUpperCase() %><%= services[key].name.slice(1).toLowerCase() %></div>
              </div><!--
         --><% } %>
          <% } %>
        <% } %>
      <% } %>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/functions.js'></script>
    <script src='/js/afk.js'></script>
    <script src='/js/storage/services/list.js'></script>
  </body>
</html>