<!DOCTYPE html>
<html>
  <title>Library - Fichier</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/file.css" />
  <body class='private-section-body'>
    <% include include/menu.ejs %>
    <% include include/aside.ejs %><!-- @SuppressWhitespace
    --><div id='<%= file['uuid'] %>' name='<%= file['service'] %>' class='file-main-block'>
        <a href='/service/<%= file['service'] %>' class='return'><i class="fa fa-angle-left icon" aria-hidden="true"></i><div class='label'>Retour</div></a>
        <div class='info'>
          <div class='name'>Nom : <%= file['name'] %>.<%= file['type'] %></div>
          <div class='type'>Type : <%= ext[file['type']] %></div>
          <div class='type'>Propriétaire : <%= file['account'] %></div>
        </div><!-- @SuppressWhitespace
        --><div class='actions'>
          <button <% if(rights['download_files'] == 1){ %> class='download' <% } else{ %> class='inactive' <% } %>><i class="fa fa-download icon" aria-hidden="true"></i><div class='label'>Télécharger</div></button><!-- @SuppressWhitespace
          --><button <% if(rights['remove_files'] == 1){ %> class='delete' <% } else{ %> class='inactive' <% } %>><i class="fa fa-trash icon" aria-hidden="true"></i><div class='label'>Supprimer</div></button>
        </div>
        <div class='comments'>
          
        </div>
    </div>
    <% include include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/js/file/download.js'></script>
    <script src='/js/file/delete.js'></script>
  </body>
</html>