<!DOCTYPE html>
<html>
  <title>Library - Fichier</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/file.css" />
  <body class='private-section-body'>
    <% include include/menu.ejs %>
    <% include include/aside.ejs %><!-- @SuppressWhitespace
    --><div id='<%= file['uuid'] %>' name='<%= file['service'] %>' class='file-main-block'>
        <a href='/service/<%= file['service'] %>' class='return'><i class="fa fa-angle-left icon" aria-hidden="true"></i><div class='label'>Retour</div></a>
        <div class='info'>
          <div class='legend'>Détail</div>
          <div class='name' id='file-name' name='<%= file['name'] %>.<%= file['type'] %>'>Nom : <%= file['name'] %>.<%= file['type'] %></div>
          <div class='type'>Type : <%= ext[file['type']] %></div>
          <div class='owner'>Propriétaire : <%= file['account'] %></div>
        </div><!-- @SuppressWhitespace
        --><div id='actions' class='actions'>
          <div class='legend'>Actions</div>
          <% if(file['deleted'] == 0){ %>
            <button <% if(rights['download_files'] == 1){ %> class='download' <% } else{ %> class='download-inactive' <% } %>><i class="fa fa-download icon" aria-hidden="true"></i><div class='label'>Télécharger</div></button><!-- @SuppressWhitespace
            --><button <% if(rights['remove_files'] == 1){ %> class='delete' <% } else{ %> class='delete-inactive' <% } %>><i class="fa fa-trash icon" aria-hidden="true"></i><div class='label'>Supprimer</div></button><!-- @SuppressWhitespace
            --><button <% if(rights['post_comments'] == 1){ %> class='comment' <% } else{ %> class='comment-inactive' <% } %>><i class="fa fa-comment icon" aria-hidden="true"></i><div class='label'>Commenter</div></button>
          <% } else{ %>
            <div class='deleted'>Supprimé</div>
          <% } %>
        </div>
        <div id='comments' class='comments'>
        </div>
        <div class='pages-container' id='pages-container'></div>
    </div>
    <% include include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/file/socket.js'></script>
    <script src='/js/file/comment.js'></script>
    <script src='/js/file/download.js'></script>
    <script src='/js/file/delete.js'></script>
  </body>
</html>