<% if(conversationsData != null){ %>
  <div class="messengerSection" id="messengerSection">
    <div class="messengerSectionHeader" id="messengerSectionHeader" onclick="displayMessengerBlock()">
      <div class="messengerSectionHeaderAside">
        <div id="messengerStatus" class="messengerSectionHeaderStatus"></div>
        <div class="messengerSectionHeaderTitle"><%= strings.common.messenger.headerTitle %></div>
      </div>
      <% var counter = 0; %>
      <% for(var x = 0; x < conversationsData.length; x++) counter += conversationsData[x].newMessages %>
      <div class="messengerSectionHeaderCounter" id="unreadMessagesCounter"><%= counter %></div>
    </div>
    <div class="messengerHidden" id="messengerHidden">
      <div class="messengerCreateConversation" id="messengerCreateConversation">
        <div class="messengerCreateConversationPickAccount" id="messengerCreateConversationPickAccount">
          <div class="messengerCreateConversationHeader">
            <button class="messengerCreateConversationReturn" onclick="cancelNewConversation()"><%= strings.common.messenger.startNewConversation.returnButton %></button>
            <div class="messengerCreateConversationMessage"><%= strings.common.messenger.startNewConversation.informationMessage %></div>
            <input type="text" oninput="createNewConversationSearchAccounts()" id="messengerCreateConversationSearch" class="messengerCreateConversationSearch" placeholder="<%= strings.common.messenger.startNewConversation.searchInputPlaceholder %>" />
          </div>
        </div>
      </div>
      <div class="messengerHome" id="messengerHome">
        <div class="messengerStatus" id="messengerStatus">
          <select class="messengerStatusList">
            <option>En ligne</option>
          </select>
        </div>
        <div class="messengerHomeTools">
          <div class="messengerHomeToolsStart">
            <button onclick="createNewConversation()" class="messengerHomeToolsStartButton"><%= strings.common.messenger.startNewConversation.title %></button>
          </div>
        </div>
        <ul class="messengerHomeList">
          <% for(var x = 0; x < conversationsData.length; x++){ %>
            <% var currentAccount = conversationsData[x].participants[Object.keys(conversationsData[x].participants)[0]] %>
            <li class="messengerHomeListElement" onclick="openConversation('<%= conversationsData[x].uuid %>')" name="<%= conversationsData[x].uuid %>">
              <div class="messengerHomeListElementPicture">
                <div class="messengerHomeListElementPictureCircle">
                  <img class="messengerHomeListElementPictureContent" src="<%= currentAccount.accountPicture %>" />
                </div>
              </div>
              <div class="messengerHomeListElementAside">
                <div class="messengerHomeListElementAsideReceiver"><%= currentAccount.accountFirstname.charAt(0).toUpperCase() %><%= currentAccount.accountFirstname.slice(1).toLowerCase() %> <%= currentAccount.accountLastname.charAt(0).toUpperCase() %><%= currentAccount.accountLastname.slice(1).toLowerCase() %></div>
                <div class="messengerHomeListElementAsidePreview"><%= conversationsData[x].messages[conversationsData[x].messages.length - 1].authorName %> : <%= conversationsData[x].messages[conversationsData[x].messages.length - 1].messageContent %></div>
              </div>
              <% if(conversationsData[x].newMessages > 0){ %>
                <div class="messengerHomeListElementCounter"><%= conversationsData[x].newMessages %></div>
              <% } %>
            </li>
          <% } %>
        </ul>
      </div>
      <div id="messengerConversationsContainer" class="messengerConversationsContainer">
        <% for(var x = 0; x < conversationsData.length; x++){ %>
          <div class="messengerConversation" id="<%= conversationsData[x].uuid %>">
            <div class="messengerConversationHeader">
              <button class="messengerConversationHeaderReturn" onclick="closeConversation('<%= conversationsData[x].uuid %>')"><%= strings.common.messenger.returnButton %></button>
              <div class="messengerConversationHeaderReceiver">
                <div class="messengerConversationHeaderReceiverCircle">
                  <img class="messengerConversationHeaderReceiverPicture" src="<%= currentAccount.accountPicture %>" />
                </div>
                <div class="messengerConversationHeaderReceiverName"><%= currentAccount.accountFirstname.charAt(0).toUpperCase() %><%= currentAccount.accountFirstname.slice(1).toLowerCase() %> <%= currentAccount.accountLastname.charAt(0).toUpperCase() %><%= currentAccount.accountLastname.slice(1).toLowerCase() %></div>
              </div>
            </div>
            <ul class="messengerConversationList">
              <% for(var y = 0; y < conversationsData[x].messages.length; y++){ %>
                <li class="messengerConversationListMessage" name="<%= conversationsData[x].messages[y].messageId %>">
                  <% if(conversationsData[x].messages[y].authorUuid === locals.account.uuid){ %>
                    <div class="messengerConversationListMessageRight">
                      <div class="messengerConversationListMessageDate"><%= conversationsData[x].messages[y].messageDate %></div>
                      <div><%= conversationsData[x].messages[y].messageContent %></div>
                    </div>
                  <% } else{ %>
                    <div class="messengerConversationListMessageLeft">
                      <div class="messengerConversationListMessageDate"><%= conversationsData[x].messages[y].messageDate %></div>
                      <div><%= conversationsData[x].messages[y].messageContent %></div>
                    </div>
                  <% } %>
                </li>
              <% } %>
            </ul>
            <form onsubmit="sendMessageToServer()" class="messengerConversationActions" name="<%= conversationsData[x].uuid %>">
              <textarea name="message" class="messengerConversationActionsInput" placeholder="<%= strings.common.messenger.conversationBlock.textareaPlaceholder %>"></textarea>
              <div class="messengerConversationActionsEmpty"><%= strings.common.messenger.conversationBlock.emptyMessage %></div>
              <div class="messengerConversationActionsSender">
                <button class="messengerConversationActionsSenderButton"><%= strings.common.messenger.conversationBlock.sendButton %></button>
                <div class="messengerConversationActionsLoader"><i class="fas fa-cog fa-spin"></i></div>
              </div>
            </form>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <script src="/js/common/messenger/initialization.js"></script>
  <script src="/js/common/messenger/socket.js"></script>
  <script src="/js/common/messenger/postMessage.js"></script>
  <script src="/js/common/messenger/statusChange.js"></script>
  <script src="/js/common/messenger/openAndClose.js"></script>
  <script src="/js/common/messenger/messagesDisplayer.js"></script>
  <script src="/js/common/messenger/createConversation.js"></script>
  <script src="/js/common/messenger/conversationStartedSocket.js"></script>
<% } %>