<!DOCTYPE html>
<html>
  <title>Library - Rapports</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/report.css" />
  <body class='private-section-body'>
    <% include include/menu.ejs %>
    <% include include/aside.ejs %><!-- @SuppressWhitespace
    --><div class='reports-main-block'>
        <div id='counter' class='counter'>Rapports: <%= Object.keys(reports).length %></div>
        <div id='filters' class='filters'>
          <% for(var i = 0; i < Object.keys(types).length; i++) { %><!-- @SuppressWhitespace
            --><div class='filter'>
              <input type='checkbox' name='<%= Object.keys(types)[i] %>' checked><!-- @SuppressWhitespace
              --><div class='label'><%= types[Object.keys(types)[i]] %></div>
            </div>
          <% } %><!-- @SuppressWhitespace
          --><div class='filter'>
            <div class='label'>Statut</div>
            <select id='status' class='filter'>
              <option style='color:#000000' value='all'>Tous</option>
              <% for(var i = 0; i < Object.keys(status).length; i++) { %>
                <option style='color:<%= status[Object.keys(status)[i]]['color'] %>' value='<%= Object.keys(status)[i] %>'><%= status[Object.keys(status)[i]]['name'] %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class='table-container'>
          <table id='reports-table' class='reports-table'>
            <tr class='reports-table-legend-row'>
              <th class='messages'></th>
              <th class='type'>Type</th>
              <th class='date hide'>Date</th>
              <th class='subject'>Sujet</th>
              <th class='status'>Statut</th>
            </tr>
          </table>
        </div>
        <div id='pages-container' class='pages-container'></div>
      </div>
    <% include include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/js/report/filters.js'></script>
    <script src='/js/report/links.js'></script>
    <script src='/js/report/listSocket.js'></script>
    <script src='/js/report/onload.js'></script>
  </body>
</html>