<!DOCTYPE html>
<html>
  <% include include/head.ejs %>
  <body class='private-section-body'>
    <% include include/menu.ejs %>
    <% include include/aside.ejs %><!-- @SuppressWhitespace
    --><div class='reports-main-block'>
        <div id='report-detail' name='<%= report['uuid'] %>' class='report-detail'>
          <div class='subject'><%= report['report_subject'] %></div><!-- @SuppressWhitespace
          --><div class='label'>Statut : </div><!-- @SuppressWhitespace
          --><div style='color:<%= status[report['report_status']]['color'] %>' class='status'><%= status[report['report_status']]['name'] %></div></br>
          <div class='label'>Date : </div><!-- @SuppressWhitespace
          --><div class='date'><%= report['report_date'] %></div>
          <div class='type'>Type : <span style='font-family:barlow'><%= types[report['report_type']] %></span></div>
          <div class='label'>Description : </div>
          <div class='description'><%= report['report_content'] %></div>
          <div class='comments-block'>
          <button class='comment-button'>Ajouter un commentaire</button>
          <div class='title'>Avancement : </div>
          <% if(typeof(report['logs']) !== 'object' || Object.keys(report['logs']).length == 0){ %>
          <div class='no-comment'>Aucune mise à jour</div>
          <% } else{ %>
          <% for(var i = 0; i < Object.keys(report['logs']).length; i++){ %>
            <div class='comment log-<%= report['logs'][i]['type'] %>'>
              <div class='log-date'><%= report['logs'][i]['date'] %></div>
              <div class='log-label'><%= report['logs'][i]['label'] %></div>
              <% if(typeof(report['logs'][i]['comment']) !== 'undefined'){ %>
                <div class='log-message'><%= report['logs'][i]['comment']['message'] %></div>
                <% if(report['logs'][i]['comment']['read'] == 0){ %>
                  <div><i class="fa fa-close"></i>Non-lu</div>
                <% } else{ %>
                  <div><i class="fa fa-check" aria-hidden="true"></i>Lu</div>
                <% } %>
              <% } %>
            </div>
          <% } } %>
          </div>
        </div>
      </div>
    <% include include/scripts.ejs %>
    <script src='/js/report/comment.js'></script>
  </body>
</html>