<!DOCTYPE html>
<html>
  <title>Library - <%= service.charAt(0).toUpperCase() + service.slice(1).toLowerCase() %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/service.css" />
  <body class='private-section-body'>
    <% include include/menu.ejs %>
    <% include include/aside.ejs %><!-- @SuppressWhitespace
    --><div id='service-main-block' class='service-main-block' name='<%= identifier %>'>
      <div class='info'>
        <div class='title'><%= service.toUpperCase() %></div>
        <% var count = 0; for(var key in files){ if(files[key]['deleted'] == 0){ count += 1; } } %>
        <div id='files-counter' class='counter'>Fichiers : <%= count %></div>
      </div><!-- @SuppressWhitespace
      --><div class='upload'>
        <% if(rights['upload_files'] == 1) { %>
          <div class='true'>Vous avez le droit de poster des fichiers</div>
          <button id='service-main-block-file-buttons-upload' class='on'>Envoyer</button>
        <% } else{ %>
          <div class='false'>Vous n'avez pas le droit de poster des fichiers</div>
          <button class='off'>Envoyer</button>
        <% } %>
      </div>
      <div class='table-container'>
        <table id='service-main-block-table' class='table'>
          <tr class='legend'>
            <th class='name'>Nom du fichier</th>
            <th class='type'>Extension</th>
            <th class='account'>Propriétaire</th>
            <th class='buttons'></th>
          </tr>
          <% for(var i = 0; i < files.length; i++) { %>
            <tr id='<%= files[i]['uuid'] %>' tag='<%= files[i]['name'] %>.<%= files[i]['ext'] %>' name='service-main-block-file' class='file'>
              <td class='name'><%= files[i]['name'] %></td>
              <td class='type'><%= files[i]['type'] %></td>
              <td class='account'><%= files[i]['account'] %></td>
              <td name='service-main-block-buttons' class='buttons'>
                <% if(files[i]['deleted'] == 1){ %>
                  <div name='deleted' class='service-main-block-file-deleted'>Supprimé</div>
                <% } else{ %>
                  <% if(rights['download_files'] == 1) { %><i name="service-main-block-buttons-download" class="fa fa-download service-main-block-file-buttons-download" aria-hidden="true"></i><% } if(rights['remove_files'] == 1) { %><i name="service-main-block-buttons-delete" class="fa fa-trash service-main-block-file-buttons-delete" aria-hidden="true"></i><% } %>
                <% } %>
              </td>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
    <% include include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/service/socket.js'></script>
    <script src='/js/service/delete.js'></script>
    <script src='/js/service/upload.js'></script>
    <script src='/js/service/download.js'></script>
    <script src='/js/service/select.js'></script>
  </body>
</html>