<div id='admin-aside' class='aside-navigation-block'>
  <% for(var key in links){ %>
    <% if(typeof(location) !== 'undefined' && location == key){ %>
      <a id='<%= key %>' href='/admin/<%= key %>' class='aside-navigation-block-element-selected'><%= links[key] %></a>
    <% } else{ %>
      <a id='<%= key %>' href='/admin/<%= key %>' class='aside-navigation-block-element'><%= links[key] %></a>
    <% } %>
  <% } %>
</div>