<div class="appsSection">
  <div class="appsSectionList">
    <% for(var x = 0; x < access.length; x++){ %>
      <% if(access[x].hasAccess){ %>
        <div class="appsSectionListBlockEnabled" title="<%= strings.common.appsSection.hasAccess %>">
          <div class="appsSectionListBlockEnabledIcon"><%- apps[access[x].name].icon %></div><div class="appsSectionListBlockEnabledName"><%= strings.common.apps[access[x].name].name %></div>
        </div>
      <% } else{ %>
        <div class="appsSectionListBlockDisabled" title="<%= strings.common.appsSection.noAccess %>">
          <div class="appsSectionListBlockDisabledIcon"><i class="fas fa-lock"></i></div><div class="appsSectionListBlockDisabledName"><%= strings.common.apps[access[x].name].name %></div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>