<div id='aside-navigation-block' class='aside-navigation-block'>
  <% for(var key in links){ %>
    <% if(location == key){ %>
      <a id='<%= key %>' href='/service/<%= key %>' class='aside-navigation-block-element-selected'><%= links[key].name %></a>
    <% } else{ %>
      <a id='<%= key %>' href='/service/<%= key %>' class='aside-navigation-block-element'><%= links[key].name %></a>
    <% } %>
  <% } %>
</div>