<div class="asideNewsDeploy" id="asideNewsDeploy">
  <div class="asideNewsDeployIcon"><i class="fas fa-list"></i></div><div class="asideNewsDeployText">Articles</div>
</div>
<div class="asideNewsDeployBlock" id="asideNewsDeployBlock">
  <div class="asideNewsDeployBlockClose" id="asideNewsDeployBlockClose"><i class="fas fa-times"></i></div>
  <div class="asideNewsDeployBlockTitle">Dernières nouvelles</div>
  <div class="asideNewsDeployBlockList" id="asideNewsDeployBlockList">
    <% for(var x = 0; x < news.length; x++){ %>
      <% for(var y = 0; y < news[x].length; y++){ %>
        <div name="<%= news[x][y].uuid %>" class="<% if(locals.newsSelected && locals.newsSelected === news[x][y].uuid){ %>asideNewsDeployBlockListArticleSelected<% } else if(x === (locals.pageInfos.currentIndex - locals.pageInfos.startIndex)){ %>asideNewsDeployBlockListArticle<% } else{ %>asideNewsDeployBlockListArticleHidden<% } %>">
          <div class="asideNewsDeployBlockListArticleDate"><%= news[x][y].timestamp %></div>
          <div class="asideNewsDeployBlockListArticleTitle"><%= news[x][y].title %></div>
        </div>
      <% } %>
    <% } %>
  </div>
  <div class="asideNewsDeployBlockPages" id="asideNewsDeployBlockPages">
    <% if(locals.pageInfos){ %>
      <% for(var x = pageInfos.startIndex; x < (pageInfos.startIndex + 8); x++){ %>
        <% if(x === pageInfos.currentIndex){ %>
          <div class="asideNewsDeployBlockPagesSelected"><%= x + 1 %></div>
        <% } else if(news.length > x){ %>
          <div class="asideNewsDeployBlockPagesEnabled" tag="<%= x %>"><%= x + 1 %></div>
        <% } else{ %>
          <div class="asideNewsDeployBlockPagesDisabled"><%= x + 1 %></div>
        <% } %>
      <% } %>
    <% } else{ %>
      <% for(var x = 0; x < 8; x++){ %>
        <div class="asideNewsDeployBlockPagesDisabled"><%= x + 1 %></div>
      <% } %>
    <% } %>
  </div>
</div>
<div class="asideNewsBlock">
  <div class="asideNewsBlockTitle">Dernières nouvelles</div>
  <% if(news == null){ %>
    <div class="errorBlock">
      <div class="errorBlockTitle">
        <div class="errorBlockTitleIcon"><i class="far fa-times-circle"></i></div><div class="errorBlockTitleText">Erreur</div>
      </div>
      <div class="errorBlockMessage">Impossible de charger les articles</div>
      <div class="errorBlockDetail">Raison : <%= error.message %></div>
    </div>
  <% } else{ %>
    <div class="asideNewsBlockList" id="asideNewsBlockList">
      <% for(var x = 0; x < news.length; x++){ %>
        <% for(var y = 0; y < news[x].length; y++){ %>
          <div name="<%= news[x][y].uuid %>" class="<% if(locals.newsSelected && locals.newsSelected === news[x][y].uuid){ %>asideNewsBlockListElementSelected<% } else if(x === (locals.pageInfos.currentIndex - locals.pageInfos.startIndex)){ %>asideNewsBlockListElement<% } else{ %>asideNewsBlockListElementHidden<% } %>">
            <div class="asideNewsBlockListElementDate"><%= news[x][y].timestamp %></div>
            <div class="asideNewsBlockListElementTitle"><%= news[x][y].title %></div>
          </div>
        <% } %>
      <% } %>
    </div>
    <div class="asideNewsBlockPages" id="asideNewsBlockPages">
      <% if(locals.pageInfos){ %>
        <% for(var x = pageInfos.startIndex; x < (pageInfos.startIndex + 8); x++){ %>
          <% if(x === pageInfos.currentIndex){ %>
            <div class="asideNewsBlockPagesElementSelected"><%= x + 1 %></div>
          <% } else if(news.length > x){ %>
            <div class="asideNewsBlockPagesElementEnabled" tag="<%= x %>"><%= x + 1 %></div>
          <% } else{ %>
            <div class="asideNewsBlockPagesElementDisabled"><%= x + 1 %></div>
          <% } %>
        <% } %>
      <% } else{ %>
        <% for(var x = 0; x < 8; x++){ %>
          <div class="asideNewsBlockPagesElementDisabled"><%= x + 1 %></div>
        <% } %>
      <% } %>
    </div>
  <% } %>
</div>