<div class="asideNewsDeploy" id="asideNewsDeploy">
  <div class="asideNewsDeployIcon"><i class="fas fa-list"></i></div><div class="asideNewsDeployText">Articles</div>
</div>
<div class="asideNewsDeployBlock" id="asideNewsDeployBlock">
  <div class="asideNewsDeployBlockClose" id="asideNewsDeployBlockClose"><i class="fas fa-times"></i></div>
  <div class="asideNewsDeployBlockTitle">Dernières nouvelles</div>
  <div class="asideNewsDeployBlockList" id="asideNewsDeployBlockList">
    <% for(var x = 0; x < news.length; x++){ %>
      <div name="<%= news[x].uuid %>" class="<% if((locals.newsSelected == false && x === 0) || locals.newsSelected === news[x].uuid){ %>asideNewsDeployBlockListArticleSelected<% } else{ %>asideNewsDeployBlockListArticle<% } %>">
        <div class="asideNewsDeployBlockListArticleDate"><%= news[x].timestamp %></div>
        <div class="asideNewsDeployBlockListArticleTitle"><%= news[x].title %></div>
      </div>
    <% } %>
    <% if(news.length > 0){ %>
      <div id="asideNewsDeployBlockListLoad" class="asideNewsDeployBlockListLoad">Charger plus d'articles</div>
    <% } else{ %>
      <div id="asideNewsDeployBlockListEmpty" class="asideNewsDeployBlockListEmpty">Aucun article pour le moment</div>
    <% } %>
  </div>
</div>
<div class="asideNewsBlock">
  <div class="asideNewsBlockTitle">Dernières nouvelles</div>
  <% if(news == null){ %>
    <div class="errorBlock">
      <div class="errorBlockTitle">
        <div class="errorBlockTitleIcon"><i class="far fa-times-circle"></i></div><div class="errorBlockTitleText">Erreur</div>
      </div>
      <div class="errorBlockMessage">Impossible de charger les articles</div>
      <div class="errorBlockDetail">Raison : <%= error.message %></div>
    </div>
  <% } else{ %>
    <div class="asideNewsBlockList" id="asideNewsBlockList">
      <% for(var x = 0; x < news.length; x++){ %>
        <div name="<%= news[x].uuid %>" class="<% if((locals.newsSelected == false && x === 0) || locals.newsSelected === news[x].uuid){ %>asideNewsBlockListElementSelected<% } else{ %>asideNewsBlockListElement<% } %>">
          <div class="asideNewsBlockListElementDate"><%= news[x].timestamp %></div>
          <div class="asideNewsBlockListElementTitle"><%= news[x].title %></div>
        </div>
      <% } %>
      <% if(news.length > 0){ %>
        <div id="asideNewsBlockListLoad" class="asideNewsBlockListLoad">Charger plus d'articles</div>
      <% } else{ %>
        <div id="asideNewsBlockListEmpty" class="asideNewsBlockListEmpty">Aucun article pour le moment</div>
      <% } %>
    </div>
  <% } %>
</div>