<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/accountsLevel.css" />
  <body>
    <% include ../../../include/informations.ejs %>
    <% include ../../includes/aside.ejs %>
    <div class='storageMainBlock'>
      <% include ../../includes/admin/navigation.ejs %>
      <div class="accountDataBlock" id="accountDataBlock" name="<%= locals.accountToManage.uuid %>">
        <div class="accountDataBlockTitle"><%= strings.storage.admin.accountsLevel.detail.accountDataTitle %></div>
        <div class="accountDataBlockElement"><%= locals.accountToManage.email %></div>
        <div class="accountDataBlockElement"><%= locals.accountToManage.lastname.charAt(0).toUpperCase() %><%= locals.accountToManage.lastname.slice(1) %></div>
        <div class="accountDataBlockElement"><%= locals.accountToManage.firstname.charAt(0).toUpperCase() %><%= locals.accountToManage.firstname.slice(1) %></div>
      </div>
      <div class="accountDataBlock">
        <div class="accountDataBlockTitle"><%= strings.storage.admin.accountsLevel.detail.currentLevel %></div>
        <div class="accountDataBlockElement" id="currentAccountAdminLevel"><%= locals.accountToManage.level %></div>
      </div>
      <div class="accountDataBlock">
        <div class="accountDataBlockTitle"><%= strings.storage.admin.accountsLevel.detail.selectedLevel %></div>
        <div class="accountDataBlockInformation"><%= strings.storage.admin.accountsLevel.detail.information %></div>
        <select class="accountDataBlockSelect" id="accountLevelSelect">
          <% for(var level in storageAdminRights){ %>
            <% if(level <= locals.accountToManage.level){ %><option value="<%= level %>"><%= level %></option><% } %>
          <% } %>
        </select>
      </div>
      <div class="accountDataBlock">
        <div class="accountDataBlockTitle"><%= strings.storage.admin.accountsLevel.detail.rightsForSelectedLevel %></div>
        <div class="accountDataBlockLegends">
          <div class="accountDataBlockLegendsElement">
            <div class="accountDataBlockLegendsElementEnabled"></div><div class="accountDataBlockLegendsElementValue">= <%= strings.storage.admin.accountsLevel.detail.rightEnabled %></div>
          </div>
          <div class="accountDataBlockLegendsElement">
            <div class="accountDataBlockLegendsElementDisabled"></div><div class="accountDataBlockLegendsElementValue">= <%= strings.storage.admin.accountsLevel.detail.rightDisabled %></div>
          </div>
        </div>
        <% for(var key in locals.storageAdminRights){ %>
          <ul name="accountDataBlockRightsList" tag="<%= key %>" class="accountDataBlockRightsList">
            <% for(var item in locals.storageAdminRights[key]){ %>
              <li class="<% if(locals.storageAdminRights[key][item] == false){ %>accountDataBlockRightsListDisabled<% } else{ %>accountDataBlockRightsListEnabled<% } %>"><%= strings.storage.admin.home.rightsLabels[item] %></li>
            <% } %>
          </ul>
        <% } %>
      </div>
      <button id="accountLevelSelectionSave" class="accountDataBlockSave"><%= locals.strings.storage.admin.accountsLevel.detail.saveSelectedLevel %></button>
    </div>
    <% include ../../../include/common_scripts.ejs %>
    <script src='/js/storage/exit.js'></script>
    <script src='/js/storage/admin/accountsLevel/accountLevelSelect.js'></script>
  </body>
</html>