<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/accountsLevel.css" />
  <body>
    <% include ../../../include/informations.ejs %>
    <% include ../../includes/aside.ejs %>
    <div class='storageMainBlock'>
      <% include ../../includes/admin/navigation.ejs %>
      <div class="accountsLevelSection">
        <input type="text" id="searchBar" class="accountsLevelSectionSearch" placeholder="<%= strings.storage.admin.accountsLevel.searchInput %>" />
        <table class="accountsLevelSectionTable" id="accountsTable">
          <tr class="accountsLevelSectionTableRow header">
            <td class="accountsLevelSectionTableColumn emailColumn"><%= strings.storage.admin.accountsLevel.accountsTable.header.email %></td>
            <td class="accountsLevelSectionTableColumn lastnameColumn"><%= strings.storage.admin.accountsLevel.accountsTable.header.lastname %></td>
            <td class="accountsLevelSectionTableColumn firstnameColumn"><%= strings.storage.admin.accountsLevel.accountsTable.header.firstname %></td>
            <td class="accountsLevelSectionTableColumn levelColumn"><%= strings.storage.admin.accountsLevel.accountsTable.header.level %></td>
            <td class="accountsLevelSectionTableColumn buttonColumn"></td>
          </tr>
          <% for(var x = 0; x < accountsToManage.length; x++){ %>
            <tr class="accountsLevelSectionTableRow" name="accountRow">
              <td class="accountsLevelSectionTableColumn emailColumn"><%= accountsToManage[x].email %></td>
              <td class="accountsLevelSectionTableColumn lastnameColumn"><%= accountsToManage[x].lastname %></td>
              <td class="accountsLevelSectionTableColumn firstnameColumn"><%= accountsToManage[x].firstname %></td>
              <td class="accountsLevelSectionTableColumn levelColumn"><%= accountsToManage[x].level %></td>
              <td class="accountsLevelSectionTableColumn buttonColumn"><a href="/storage/admin/account-levels/<%= accountsToManage[x].uuid %>" class="modifyButton">Modifier</a></td>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
    <% include ../../../include/common_scripts.ejs %>
    <script src='/js/storage/exit.js'></script>
    <script src='/js/storage/admin/accountsLevel/searchBar.js'></script>
  </body>
</html>