<!DOCTYPE html>
<html>
  <title><%= strings.common.intranetTitle %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/logon.css" />
  <body>
    <div id="main">
      <div id="wrapper">
        <div class="logonBlock">
          <div class="logonBlockTitle"><%= strings.common.root.navigationBar.companyName %><span><%= strings.common.root.navigationBar.appName %></span></div>
          <form class="logonBlockForm" id="logonForm">
            <div id="formError" class="logonBlockFormError"></div>
            <input id="emailInput" name="email" type="email" placeholder="<%= strings.common.root.logonPage.emailPlaceholder %>" />
            <div id="emailError" class="logonBlockFormFieldError"><%= strings.common.root.logonPage.emptyError %></div>
            <input id="passwordInput" name="password" type="password" placeholder="<%= strings.common.root.logonPage.passwordPlaceholder %>" />
            <div id="passwordError" class="logonBlockFormFieldError"><%= strings.common.root.logonPage.emptyError %></div>
            <div class="logonBlockFormFooter">
              <a href="/reset-password" class="logonBlockFormFooterForgottenPassword"><%= strings.common.root.logonPage.forgottenPassword %></a>
              <button type="submit"><%= strings.common.root.logonPage.submitButton %></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/jQuery.js"></script>
    <script src='/js/index/logon.js'></script>
  </body>
</html>
