<!DOCTYPE html>
<html>
  <title><%= strings.common.intranetTitle %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
  <body>
    <div id="main">
      <div id="wrapper">
        <div class="resetBlock">
          <div class="resetBlockTitle"><%= strings.common.root.navigationBar.companyName %><span><%= strings.common.root.navigationBar.appName %></span></div>
          <form class="resetBlockForm" id="resetForm">
            <div id="formError" class="resetBlockFormError"></div>
            <div id="formSuccess" class="resetBlockFormSuccess"></div>
            <div class="resetBlockFormInfo"><%= strings.common.root.resetPasswordPage.infoMessage %></div>
            <input id="emailInput" placeholder="<%= strings.common.root.resetPasswordPage.emailPlaceholder %>" type="email" name="email" />
            <div id="emailError" class="resetBlockFormFieldError"><%= strings.common.root.resetPasswordPage.emptyError %></div>
            <div class="resetBlockFormFooter">
              <a href="/" class="resetBlockFormFooterReturn"><%= strings.common.root.resetPasswordPage.returnLink %></a>
              <button type="submit"><%= strings.common.root.resetPasswordPage.submitButton %></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/index/reset.js'></script>
  </body>
</html>
