<aside class="aside">
  <div class="asideName"><%= strings.administrationStrings.aside.appName %></div>
  <div class="asideMenu">
    <a href="/administration" class="<% if(currentLocation === 'home'){ %>asideMenuElementSelected<% } else{ %>asideMenuElement<% } %>"><%= strings.administrationStrings.aside.menu.home %></a>
    <a href="/administration/accounts" class="<% if(currentLocation === 'accounts'){ %>asideMenuElementSelected<% } else{ %>asideMenuElement<% } %>"><%= strings.administrationStrings.aside.menu.accounts %></a>
    <a href="/administration/access" class="<% if(currentLocation === 'access'){ %>asideMenuElementSelected<% } else{ %>asideMenuElement<% } %>"><%= strings.administrationStrings.aside.menu.access %></a>
    <a href="/administration/units" class="<% if(currentLocation === 'units'){ %>asideMenuElementSelected<% } else{ %>asideMenuElement<% } %>"><%= strings.administrationStrings.aside.menu.units %></a>
    <a href="/administration/configuration/general" class="<% if(currentLocation === 'config'){ %>asideMenuElementSelected<% } else{ %>asideMenuElement<% } %>"><%= strings.administrationStrings.aside.menu.config %></a>
    <div class="asideMenuElement" id="exitLink"><%= strings.administrationStrings.aside.menu.exit %></div>
  </div>
</aside>