<aside class="aside">
  <div class="asideName"><%= strings.administrationStrings.aside.appName %></div>
  <div class="asideMenu">
    <a href="/administration" class="asideMenuElement"><%= strings.administrationStrings.aside.menu.home %></a>
    <a href="/administration/accounts" class="asideMenuElement"><%= strings.administrationStrings.aside.menu.accounts %></a>
    <div class="asideMenuElement"><%= strings.administrationStrings.aside.menu.access %></div>
    <div class="asideMenuElement"><%= strings.administrationStrings.aside.menu.exit %></div>
  </div>
</aside>