<nav class="navigationBar">
  <div class="navigationBarHeaderContainer">
    <div class="navigationBarHeader">
      <div class="navigationBarTitle"><%= strings.navigationBar.title %></div>
      <div class="navigationBarAside">
        <div class="navigationBarAccount">
          <div class="navigationBarAccountEmail"><%= account.email %></div>
          <div class="navigationBarAccountCircle">
            <img class="navigationBarAccountPicture" src="<%= account.picture %>" />
          </div>
          <div class="navigationBarAccountMenu">
            <ul class="navigationBarAccountMenuList">
              <li class="navigationBarAccountMenuListElement"><%= strings.navigationBar.accountMenu.account %></li>
              <li class="navigationBarAccountMenuListElement"><%= strings.navigationBar.accountMenu.logout %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigationBarMenu">
    <div class="navigationBarMenuList">
      <div class="navigationBarMenuElement">Menu 1</div>
      <div class="navigationBarMenuElement">Menu 2</div>
      <div class="navigationBarMenuElement">Menu 3</div>
      <div class="navigationBarMenuElement">Menu 4</div>
    </div>
  </div>
</nav>