<!DOCTYPE html>
<html>
  <title><%= strings.admin.appName %> - <%= strings.admin.locations.rights %></title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/base.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/navigation.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/access.css' />
  <body>
    <div id='blur'>
      <% include ../include/navigation.ejs %>
      <% if(error != null){ %>
        <div class='errorBlock'>
          <div class='errorBlockTitle'><%= strings.admin.rights.detail.errorBlock.title %></div>
          <div class='errorBlockMessage'><%= error.message %></div>
          <% if(error.detail != null){ %><div class='errorBlockDetail'><%= error.detail %></div><% } %>
        </div>
      <% } else{ %>
        <div class='accountDetailInfo' id='accessDetailAccountInfo' name='<%= detailedAccount.uuid %>'>
          <div class='accountDetailInfoTitle'><%= strings.admin.rights.detail.accountInfo.title %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.email %></div>
          <div class='accountDetailInfoValue'><%= detailedAccount.email %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.lastname %></div>
          <div class='accountDetailInfoValue'><%= detailedAccount.lastname.toUpperCase() %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.firstname %></div>
          <div class='accountDetailInfoValue'><%= detailedAccount.firstname.charAt(0).toUpperCase() %><%= detailedAccount.firstname.slice(1).toLowerCase() %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.suspended %></div>
          <div class='accountDetailInfoValue'><% if(detailedAccount.suspended == 0){ %>Non<% } else{ %>Oui<% } %></div>
        </div>
        <div class='accessDetailBlock'>
          <div class='accessDetailBlockTitle'><%= strings.admin.appsAccess.title %></div>
          <% for(var key in detailedAccountAccess){ %>
            <div class='accessDetailBlockApp' id='<%= key %>'>
              <% if(detailedAccountAccess[key] == 1){ %>
                <% if(currentAccountRights.remove_access == 1){ %>
                  <div class='accessDetailBlockAppNameEnabled'><%= strings.admin.appsAccess.apps[key] %></div><!--
                --><div class='accessDetailBlockAppSwitchActive' onclick='removeAccess("<%= key %>")' title='<%= strings.admin.appsAccess.removeAccess.authorized %>'>
                    <div class='accessDetailBlockAppSwitchBackgroundEnabled'>
                      <div class='accessDetailBlockAppSwitchCircleEnabled'></div>
                    </div>
                  </div>
                <% } else{ %>
                  <div class='accessDetailBlockAppNameEnabled'><%= strings.admin.appsAccess.apps[key] %></div><!--
                --><div class='accessDetailBlockAppSwitchInactive' title='<%= strings.admin.appsAccess.removeAccess.unauthorized %>'>
                    <div class='accessDetailBlockAppSwitchBackgroundInactive'>
                      <div class='accessDetailBlockAppSwitchCircleEnabledInactive'></div>
                    </div>
                  </div>
                <% } %>
              <% } else{ %>
                <% if(currentAccountRights.add_access == 1){ %>
                  <div class='accessDetailBlockAppNameDisabled'><%= strings.admin.appsAccess.apps[key] %></div><!--
                --><div class='accessDetailBlockAppSwitchActive' onclick='addAccess("<%= key %>")' title='<%= strings.admin.appsAccess.giveAccess.authorized %>'>
                    <div class='accessDetailBlockAppSwitchBackgroundDisabled'>
                      <div class='accessDetailBlockAppSwitchCircleDisabled'></div>
                    </div>
                  </div>
                <% } else{ %>
                  <div class='accessDetailBlockAppNameDisabled'><%= strings.admin.appsAccess.apps[key] %></div><!--
                --><div class='accessDetailBlockAppSwitchInactive' title='<%= strings.admin.appsAccess.giveAccess.unauthorized %>'>
                    <div class='accessDetailBlockAppSwitchBackgroundInactive'>
                      <div class='accessDetailBlockAppSwitchCircleDisabledInactive'></div>
                    </div>
                  </div>
                <% } %>
              <% } %>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/admin/access/detailSocket.js'></script>
    <script src='/js/admin/access/addAccess.js'></script>
    <script src='/js/admin/access/removeAccess.js'></script>
  </body>
</html>