<!DOCTYPE html>
<html>
  <title><%= strings.admin.appName %> - <%= strings.admin.locations.rights %></title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/base.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/navigation.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/rights.css' />
  <body>
    <div id='blur'>
      <% include ../include/navigation.ejs %>
      <% if(error != null){ %>
        <div class='errorBlock'>
          <div class='errorBlockTitle'><%= strings.admin.rights.detail.errorBlock.title %></div>
          <div class='errorBlockMessage'><%= error.message %></div>
          <% if(error.detail != null){ %><div class='errorBlockDetail'><%= error.detail %></div><% } %>
        </div>
      <% } else{ %>
        <div class='rightsDetailAccountInfo'>
          <div class='rightsDetailAccountInfoTitle'><%= strings.admin.rights.detail.accountInfo.title %></div>
          <div class='rightsDetailAccountInfoKey'><%= strings.admin.rights.detail.accountInfo.email %></div>
          <div class='rightsDetailAccountInfoValue'><%= account.email %></div>
          <div class='rightsDetailAccountInfoKey'><%= strings.admin.rights.detail.accountInfo.lastname %></div>
          <div class='rightsDetailAccountInfoValue'><%= account.lastname.toUpperCase() %></div>
          <div class='rightsDetailAccountInfoKey'><%= strings.admin.rights.detail.accountInfo.firstname %></div>
          <div class='rightsDetailAccountInfoValue'><%= account.firstname.charAt(0).toUpperCase() %><%= account.firstname.slice(1).toLowerCase() %></div>
          <div class='rightsDetailAccountInfoKey'><%= strings.admin.rights.detail.accountInfo.suspended %></div>
          <div class='rightsDetailAccountInfoValue'><% if(account.suspended == 0){ %>Non<% } else{ %>Oui<% } %></div>
        </div>
        <div class='rightsDetailApps'>
          <div class='rightsDetailAppsRights'>
            <div class='rightsDetailAppsRightsTitle'><%= strings.admin.rights.detail.administrationRights.title %></div>
            <% if(rights.access_accounts == 1){ %><div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.accessAccounts.true %></div><% } else{ %><div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.accessAccounts.false %></div><% } %>
            <% if(rights.create_accounts == 1){ %><div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.createAccounts.true %></div><% } else{ %><div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.createAccounts.false %></div><% } %>
            <% if(rights.modify_accounts == 1){ %><div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.modifyAccounts.true %></div><% } else{ %><div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.modifyAccounts.false %></div><% } %>
            <% if(rights.suspend_accounts == 1){ %><div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.suspendAccounts.true %></div><% } else{ %><div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.suspendAccounts.false %></div><% } %>
            <% if(rights.remove_accounts == 1){ %><div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.removeAccounts.true %></div><% } else{ %><div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.removeAccounts.false %></div><% } %>
            <% if(rights.add_access == 1){ %><div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.addAccess.true %></div><% } else{ %><div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.addAccess.false %></div><% } %>
            <% if(rights.remove_access == 1){ %><div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.removeAccess.true %></div><% } else{ %><div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.removeAccess.false %></div><% } %>
          </div>
          <div class='rightsDetailAppsAccess'>
            <div class='rightsDetailAppsAccessTitle'><%= strings.admin.rights.detail.appsAccess.title %></div>
            <% for(var key in access){ %>
              <% if(strings.admin.rights.detail.appsAccess.apps[key] != undefined){ %>
                <% if(access[key] == 0){ %>
                  <% if(rights.add_access == 1){ %>
                    <div class='rightsDetailAppsAccessKey' name='<%= key %>'><%= strings.admin.rights.detail.appsAccess.apps[key] %></div><button name='giveAccess' title="Cliquer pour donner accès à cette application" class='rightsDetailAppsAccessTrue'><%= strings.admin.rights.detail.appsAccess.giveAccess %></button>
                  <% } else{ %>
                    <div class='rightsDetailAppsAccessKey' name='<%= key %>'><%= strings.admin.rights.detail.appsAccess.apps[key] %></div><button title="Vous n'avez pas les droits requis" class='rightsDetailAppsAccessInactive'><%= strings.admin.rights.detail.appsAccess.giveAccess %></button>
                  <% } %>
                <% } else{ %>
                  <% if(rights.remove_access == 1){ %>
                    <div class='rightsDetailAppsAccessKey' name='<%= key %>'><%= strings.admin.rights.detail.appsAccess.apps[key] %></div><button name='takeOfAccess' title="Cliquer pour retirer l'accès à cette application" class='rightsDetailAppsAccessFalse'><%= strings.admin.rights.detail.appsAccess.takeOfAccess %></button>
                  <% } else{ %>
                    <div class='rightsDetailAppsAccessKey' name='<%= key %>'><%= strings.admin.rights.detail.appsAccess.apps[key] %></div><button title="Vous n'avez pas les droits requis" class='rightsDetailAppsAccessInactive'><%= strings.admin.rights.detail.appsAccess.takeOfAccess %></button>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
  </body>
</html>