<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/services/detail.css" />
  <body>
    <% include ../../includes/aside.ejs %>
    <div class="informationsBlock" id="storageInformationsBlock"></div>
    <div class='storageMainBlock'>
      <div class="mainBlockLocation"><%= strings.storage.locations.admin %> / <%= strings.storage.locations.services %> / <%= service.serviceData.name.charAt(0).toUpperCase() %><%= service.serviceData.name.slice(1).toLowerCase() %></div>
      <% include ../../includes/admin/navigation.ejs %>
      <% if(error != null){ %>
        <div class="shareAppErrorBlock">
          <div class="shareAppErrorBlockMessage">
            <div class="shareAppErrorBlockMessageIcon"><i class="fas fa-2x fa-exclamation-circle"></i></div><div class="shareAppErrorBlockMessageText"><%= error.message %></div>
          </div>
          <% if(error.detail != null){ %>
            <div class="shareAppErrorBlockDetail"><%= error.detail %></div>
          <% } %>
        </div>
      <% } else{ %>
        <a class='serviceDetailBack' href='/storage/admin/services'>Retour</a>
        <div class='serviceDetailBlock' id='serviceDetailBlock' name='<%= service.serviceData.uuid %>'>
          <div class='serviceDetailBlockTitle'><%= strings.storage.admin.services.modify.title %></div>
          <div class='serviceDetailBlockKey'><%= strings.storage.admin.services.modify.serviceIdentifier %> :</div>
          <div class='serviceDetailBlockValue'><div class='serviceDetailBlockValueContent' id='serviceName'><%= service.serviceData.uuid %></div><div title="Cette valeur n'est pas modifiable" class='serviceDetailBlockValueLock'><i class='fas fa-lock'></i></div></div>
          <div class='serviceDetailBlockKey'><%= strings.storage.admin.services.modify.serviceLabel %> :</div>
          <div class='serviceDetailBlockValue'><div class='serviceDetailBlockValueContent' id='serviceLabel'><%= service.serviceData.name.charAt(0).toUpperCase() %><%= service.serviceData.name.slice(1).toLowerCase() %></div><div title='Cliquer ici pour modifier le nom du service' class='serviceDetailBlockValueEdit' id='openServiceLabelModificationPopup'><i class='fas fa-pencil-alt'></i></div></div>
          <div class='serviceDetailBlockKey'><%= strings.storage.admin.services.modify.maxFileSize %> :</div>
          <div class='serviceDetailBlockValue'><div class='serviceDetailBlockValueContent' id='serviceFileSize'><% if(Math.floor(service.serviceData.file_size_limit / 1024 / 1024 / 1024) >= 1){ %><%= (service.serviceData.file_size_limit / 1024 / 1024 / 1024).toFixed(2) %>Go<% } else if(Math.floor(service.serviceData.file_size_limit / 1024 / 1024) >= 1){ %><%= (service.serviceData.file_size_limit / 1024 / 1024).toFixed(2) %>Mo<% } else if(Math.floor(service.serviceData.file_size_limit / 1024) >= 1){ %><%= (service.serviceData.file_size_limit / 1024).toFixed(2) %>Ko<% } else{ %><%= service.serviceData.file_size_limit %>o<% } %></div><div title='Cliquer ici pour changer la taille maximale des fichiers autorisés' class='serviceDetailBlockValueEdit' id='openServiceMaxFileSizeModificationPopup'><i class='fas fa-pencil-alt'></i></div></div>
        </div>
        <div class="serviceDetailBlockExtensions">
          <div class="serviceDetailBlockExtensionsTitle"><%= strings.storage.admin.services.modify.extensionsBlockTitle %></div>
          <div id="serviceDetailBlockExtensionsElements">
            <% for(var x = 0; x < service.allExtensions.length; x++){ %>
              <div class="serviceDetailBlockExtensionsElement" name="<%= service.allExtensions[x].extensionUuid %>">
                <% if(service.serviceExtensions.includes(service.allExtensions[x].extensionUuid)){ %>
                  <input class="serviceDetailBlockExtensionsElementCheckbox" type="checkbox" checked /><div class="serviceDetailBlockExtensionsElementValue"><%= service.allExtensions[x].extensionValue %></div>
                <% } else { %>
                  <input class="serviceDetailBlockExtensionsElementCheckbox" type="checkbox" /><div class="serviceDetailBlockExtensionsElementValue"><%= service.allExtensions[x].extensionValue %></div>
                <% } %>
              </div>
            <% } %>
          </div>
          <button class="serviceDetailBlockExtensionsSave" id="serviceDetailBlockExtensionsSave"><%= strings.storage.admin.services.modify.saveExtensions %></button>
        </div>
      <% } %>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/afk.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/storage/admin/services/modify/detailSocket.js'></script>
    <script src='/js/storage/admin/services/modify/error.js'></script>
    <script src='/js/storage/admin/services/modify/success.js'></script>
    <script src='/js/storage/admin/services/modify/serviceName.js'></script>
    <script src='/js/storage/admin/services/modify/fileSize.js'></script>
    <script src='/js/storage/admin/services/modify/extensions.js'></script>
    <script src='/js/storage/messages.js'></script>
    <script src='/js/storage/exit.js'></script>
  </body>
</html>