<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/services/form.css" />
  <body>
    <div id='blur'>
      <% include ../../includes/aside.ejs %>
      <div class='storageMainBlock'>
        <div class="mainBlockLocation"><%= strings.storage.locations.admin %> / <%= strings.storage.locations.services %> / <%= strings.storage.locations.creation %></div>
        <% include ../../includes/admin/navigation.ejs %>
        <% if(error != null){ %>
          <div class="shareAppErrorBlock">
            <div class="shareAppErrorBlockMessage">
              <div class="shareAppErrorBlockMessageIcon"><i class="fas fa-2x fa-exclamation-circle"></i></div><div class="shareAppErrorBlockMessageText"><%= error.message %></div>
            </div>
            <% if(error.detail != null){ %>
              <div class="shareAppErrorBlockDetail"><%= error.detail %></div>
            <% } %>
          </div>
        <% } else{ %>
          <div class="serviceCreationForm">
            <div class="serviceCreationFormTitle"><%= strings.storage.admin.services.form.title %></div>
            <a href="/storage/admin/services" class="serviceCreationFormBack"><%= strings.common.other.back %></a>
            <form class="serviceCreationFormBlock" id="serviceCreationFormBlock">
              <div class="serviceCreationFormBlockLabel"><%= strings.storage.admin.services.form.inputs.name.value %></div>
              <div class="serviceCreationFormBlockIncorrectFormat" id="serviceCreationFormBlockNameIncorrect"><%= strings.storage.admin.services.form.format.incorrect %></div>
              <input class="serviceCreationFormBlockNameInput" id="serviceCreationFormBlockName" type="text" placeholder="<%= strings.storage.admin.services.form.inputs.name.placeholder %>" required />
              <div class="serviceCreationFormBlockLabel"><%= strings.storage.admin.services.form.inputs.size.value %></div>
              <input class="serviceCreationFormBlockSizeInput" id="serviceCreationFormBlockSizeValue" type="number" placeholder="<%= strings.storage.admin.services.form.inputs.size.placeholder %>" min="1" required /><!--
              --><select class="serviceCreationFormBlockSizeSelect" id="serviceCreationFormBlockSizeQuantifier">
                <% for(var option in strings.storage.admin.services.form.inputs.size.options){ %>
                  <option value="<%= option %>"><%= strings.storage.admin.services.form.inputs.size.options[option] %></option>
                <% } %>
              </select>
              <div class="serviceCreationFormBlockExtensions">
                <div class="serviceCreationFormBlockExtensionsTitle"><%= strings.storage.admin.services.form.extensions.title %></div>
                <div class="serviceCreationFormBlockExtensionsElements" id="serviceCreationFormBlockExtensionsElements">
                  <% for(var extension in extensions){ %><!--
                  --><div class="serviceCreationFormBlockExtensionsElementsElement" name="<%= extensions[extension].uuid %>">
                      <input class="serviceCreationFormBlockExtensionsElementsElementCheckbox" type="checkbox" /><div class="serviceCreationFormBlockExtensionsElementsElementLabel"><%= extensions[extension].value %></div>
                    </div><!--
                  --><% } %>
                </div>
              </div>
              <button type="submit" class="serviceCreationFormBlockSubmit"><%= strings.storage.admin.services.form.send %></button>
            </form>
          </div>
        <% } %>
      </div>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/jQueryUI.js'></script>
    <script src='/js/afk.js'></script>
    <script src='/js/functions.js'></script>
    <script src='/js/storage/admin/services/links.js'></script>
    <script src='/js/storage/admin/services/form/send.js'></script>
    <script src='/js/storage/exit.js'></script>
  </body>
</html>