<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/aside.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/services/list.css" />
  <body>
    <% include ../../includes/navigation.ejs %>
    <div class='main'>
      <div class='header'>
        <div class='bookmark'><i class='fas fa-bookmark'></i></div><div class='location'><%= strings.storage.locations.admin %> / <%= strings.storage.locations.services %> / <%= strings.storage.locations.consultation %></div>
      </div>
      <div class='aside'>
        <a href='/storage/admin/services' class='link <% if(rights.access_services == 1){ %>active<% }else{ %>inactive<% } %>'><%= strings.storage.admin.links.services %></a>
      </div><!--
      --><div class='services'>
        <% if(error != null){ %>
          <div class='error'>
            <div class='message'><div class='left'><i class='fas fa-exclamation-circle'></i></div><div class='right'><%= error.message %></div></div>
            <% if(error.detail != null){ %><div class='detail'><%= error.detail %></div><% } %>
          </div>
        <% } else{ %>
          <button id='create-service-button' tag='<% if(rights.create_services == 1){ %>true<% } else{ %>false<% } %>' class='create <% if(rights.create_services == 1){ %>true<% } else{ %>false<% } %>'><%= strings.storage.admin.services.create %></button>
          <% if(Object.keys(services).length == 0){ %>
            <div class='empty'><%= strings.storage.admin.services.empty %></div>
          <% } else{ %>
            <% for(var service in services){ %>
              <div class='serviceBlock'>
                <div class='serviceBlockLabel'><%= services[service].label %></div>
                <div class='serviceBlockValueBlock'><div class='key'><%= strings.storage.admin.services.info.files %> :</div><div class='value'><%= services[service].files %></div></div>
                <div class='serviceBlockValueBlock'><div class='key'><%= strings.storage.admin.services.info.members %> :</div><div class='value'><%= services[service].members %></div></div>
                <% if(parseInt(services[service].fileLimit) / 1024 / 1024 / 1024 > 1){ %>
                  <div class='serviceBlockValueBlock'><div class='key'><%= strings.storage.admin.services.info.limit %> :</div><div class='value'><%= parseInt(services[service].fileLimit) / 1024 / 1024 / 1024 %> Go</div></div>
                <% } else if(parseInt(services[service].fileLimit) / 1024 / 1024 > 1){ %>
                  <div class='serviceBlockValueBlock'><div class='key'><%= strings.storage.admin.services.info.limit %> :</div><div class='value'><%= parseInt(services[service].fileLimit) / 1024 / 1024 %> Mo</div></div>
                <% } else if(parseInt(services[service].fileLimit) / 1024 > 1){ %>
                  <div class='serviceBlockValueBlock'><div class='key'><%= strings.storage.admin.services.info.limit %> :</div><div class='value'><%= parseInt(services[service].fileLimit) / 1024 %> Ko</div></div>
                <% } else{ %>
                  <div class='serviceBlockValueBlock'><div class='key'><%= strings.storage.admin.services.info.limit %> :</div><div class='value'><%= parseInt(services[service].fileLimit) %> o</div></div>
                <% } %>
              </div>
            <% } %>
          <% } %>
        <% } %>
      </div>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/afk.js'></script>
    <script src='/js/fontawesome.js'></script>
    <script src='/js/navigation/menu.js'></script>
    <script src='/js/navigation/account.js'></script>
    <script src='/js/storage/admin/services/links.js'></script>
  </body>
</html>