<nav id='nav-menu' class='navigation'>
  <div class='menu'>
    <div class='icon' id='navigation-menu-icon'><i class='fas fa-bars'></i></div>
    <div class='list' id='navigation-menu-list'>
      <a href='/storage' class='link'><%= strings.storage.navigation.menu.home %></a>
      <a href='/storage/services' class='link'><%= strings.storage.navigation.menu.services %></a>
      <a href='/storage/reports' class='link'><%= strings.storage.navigation.menu.reports %></a>
      <a href='/storage/admin' class='link'><%= strings.storage.navigation.menu.admin %></a>
      <a href='/home' class='link'><%= strings.storage.navigation.menu.exit %></a>
    </div>
  </div><!--
--><div class='title'><%= strings.storage.navigation.title %></div><!--
--><div class='account'>
    <div class='header' id='navigation-account-icon'><div class='value'><%= account.email %></div><div class='icon'><i class='fas fa-user-circle'></i></div></div>
    <div class='list' id='navigation-account-list'>
      <a href='/account' class='link'><%= strings.common.navigation.account.account %></a>
      <a href='/logout' class='link'><%= strings.common.navigation.account.logout %></a>
    </div>
  </div><!--
--><div id='report-button' class='bug'><i class='fas fa-bug'></i></div>
</nav>