<nav class='navigation'>
  <div class='title'><%= strings.admin.appName %></div>
  <button class='exit' id='exit-button'><%= strings.admin.navigation.exit %></button>
  <div class='links'>
    <a class='link' href='/admin'><%= strings.admin.navigation.home %></a><!--
    --><a class='link' href='/admin/accounts'><%= strings.admin.navigation.accounts %></a><!--
    --><a class='link' href='/admin/rights'><%= strings.admin.navigation.rights %></a><!--
    --><a class='link' href='/admin/access'><%= strings.admin.navigation.access %></a>
  </div>
</nav>