<!DOCTYPE html>
<html>
  <title><%= strings.storage.name %> - <%= strings.storage.locations.admin %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/admin/home.css" />
  <body>
    <% include ../includes/aside.ejs %><!--
    --><div class='storageMainBlock'>
      <div class="mainBlockLocation"><%= strings.storage.locations.admin %></div>
      <% include ../includes/admin/navigation.ejs %>
      <div class="rightsBlock">
        <div class="rightsBlockTitle"><%= strings.storage.admin.home.myRights %></div>
        <div class="rightsBlockLevel"><%= strings.storage.admin.home.myLevel %> <%= storageAdminAccountLevel %></div>
        <div class="rightsBlockContainer">
          <div class="rightsBlockInfo"><%= strings.storage.admin.home.rightsInfo %> :</div>
          <ul class="rightsBlockList">
            <% for(var right in storageAdminRights[storageAdminAccountLevel]){ %>
              <% if(storageAdminRights[storageAdminAccountLevel][right]){ %>
                <li class="rightsBlockListEnabled"><%= strings.storage.admin.home.rightsLabels[right] %></li>
              <% } else{ %>
                <li class="rightsBlockListDisabled"><%= strings.storage.admin.home.rightsLabels[right] %></li>
              <% } %>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/storage/exit.js'></script>
  </body>
</html>