<!DOCTYPE html>
<html>
  <title>Library - Droits</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/rights/detail.css' />
  <body class='private-section-body'>
    <% include ../../include/menu.ejs %>
    <% include ../../include/admin_aside.ejs %>
    <div id='admin-main-block' name='<%= account['uuid'] %>' class='admin-main-block'>
      <a class='return' href='/admin/rights/<%= account['uuid'] %>'>Retour</a>
      <div class='admin-rights-account'>
        <div class='admin-rights-account-block'>
          <div class='key'>Adresse Email :</div><!-- @SuppressWhitespace
          --><div class='value'><%= account['email'] %></div>
        </div>
        <div class='admin-rights-account-block'>
          <div class='key'>Nom :</div><!-- @SuppressWhitespace
          --><div class='value'><%= account['lastname'] %></div>
        </div>
        <div class='admin-rights-account-block'>
          <div class='key'>Prénom :</div><!-- @SuppressWhitespace
          --><div class='value'><%= account['firstname'] %></div>
        </div>
      </div><!-- @SuppressWhitespace
      --><div class='admin-rights-detail'>
        <div class='title'>DROITS</div>
          <div name='access' class='element'><div class='label'>Accès au service</div><div class='icons'><i class='fa fa-check <% if(Object.keys(rights).length == 0){ %>check-inactive<% } else{ %>check-active<% } %>' aria-hidden='true'></i><i class='fa fa-close <% if(Object.keys(rights).length == 0){ %>close-active<% } else{ %>close-inactive<% } %>' aria-hidden='true'></i></div></div>
          <div name='comment' class='element'><div class='label'>Poster des commentaires</div><div class='icons'><i class='fa fa-check <% if(rights['comment'] != undefined && rights['comment'] == 1){ %>check-active<% } else{ %>check-inactive<% } %>' aria-hidden='true'></i><i class='fa fa-close <% if(rights['comment'] == undefined || rights['comment'] == 0){ %>close-active<% } else{ %>close-inactive<% } %>' aria-hidden='true'></i></div></div>
          <div name='download' class='element'><div class='label'>Télécharger des fichiers</div><div class='icons'><i class='fa fa-check <% if(rights['download'] != undefined && rights['download'] == 1){ %>check-active<% } else{ %>check-inactive<% } %>' aria-hidden='true'></i><i class='fa fa-close <% if(rights['download'] == undefined || rights['download'] == 0){ %>close-active<% } else{ %>close-inactive<% } %>' aria-hidden='true'></i></div></div>
          <div name='upload' class='element'><div class='label'>Poster des fichiers</div><div class='icons'><i class='fa fa-check <% if(rights['upload'] != undefined && rights['upload'] == 1){ %>check-active<% } else{ %>check-inactive<% } %>' aria-hidden='true'></i><i class='fa fa-close <% if(rights['upload'] == undefined || rights['upload'] == 0){ %>close-active<% } else{ %>close-inactive<% } %>' aria-hidden='true'></i></div></div>
          <div name='remove' class='element'><div class='label'>Supprimer des fichiers</div><div class='icons'><i class='fa fa-check <% if(rights['remove'] != undefined && rights['remove'] == 1){ %>check-active<% } else{ %>check-inactive<% } %>' aria-hidden='true'></i><i class='fa fa-close <% if(rights['remove'] == undefined || rights['remove'] == 0){ %>close-active<% } else{ %>close-inactive<% } %>' aria-hidden='true'></i></div></div>
        </div><!-- @SuppressWhitespace
      --><div class='admin-rights-status'>
        <div class='title'>MODIFICATIONS</div>
        <div class='empty'>Rien à afficher</div>
        <button class='save'>Enregistrer</button>
      </div>
    </div>
    <% include ../../include/scripts.ejs %>
    <script src='/js/admin/rights/status.js'></script>
    <script src='/js/afk.js'></script>
  </body>
</html>