<!DOCTYPE html>
<html>
  <title><%= strings.admin.appName %> - <%= strings.admin.locations.rights %></title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/base.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/navigation.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/rights.css' />
  <body>
    <div id='blur'>
      <% include ../include/navigation.ejs %>
      <% if(error != null){ %>
        <div class='errorBlock'>
          <div class='errorBlockTitle'><%= strings.admin.rights.detail.errorBlock.title %></div>
          <div class='errorBlockMessage'><%= error.message %></div>
          <% if(error.detail != null){ %><div class='errorBlockDetail'><%= error.detail %></div><% } %>
        </div>
      <% } else{ %>
        <div class='accountDetailInfo' id='rightsDetailAccountInfo' name='<%= detailedAccount.uuid %>'>
          <div class='accountDetailInfoTitle'><%= strings.admin.rights.detail.accountInfo.title %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.email %></div>
          <div class='accountDetailInfoValue'><%= detailedAccount.email %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.lastname %></div>
          <div class='accountDetailInfoValue'><%= detailedAccount.lastname.toUpperCase() %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.firstname %></div>
          <div class='accountDetailInfoValue'><%= detailedAccount.firstname.charAt(0).toUpperCase() %><%= detailedAccount.firstname.slice(1).toLowerCase() %></div>
          <div class='accountDetailInfoKey'><%= strings.admin.rights.detail.accountInfo.suspended %></div>
          <div class='accountDetailInfoValue'><% if(detailedAccount.suspended == 0){ %>Non<% } else{ %>Oui<% } %></div>
        </div>
        <div class='rightsDetailApps'>
          <div class='rightsDetailAppsTitle'><%= strings.admin.rights.detail.administrationRights.title %></div>
          <div class='rightsDetailAppsRights' id='rightsBlock'>
            <div id='accessAccounts'>
              <% if(detailedAccountRights.access_accounts == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.accessAccounts %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("access_accounts")' name='accessAccounts' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.accessAccounts %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("access_accounts")' name='accessAccounts' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='consultAccess'>
              <% if(detailedAccountRights.consult_access == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.consultAccess %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("consult_access")' name='consultAccess' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.consultAccess %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("consult_access")' name='consultAccess' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='consultRights'>
              <% if(detailedAccountRights.consult_rights == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.consultRights %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("consult_rights")' name='consultRights' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.consultRights %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("consult_rights")' name='consultRights' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='createAccounts'>
              <% if(detailedAccountRights.create_accounts == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.createAccounts %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("create_accounts")' name='createAccounts' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.createAccounts %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("create_accounts")' name='createAccounts' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='modifyAccounts'>
              <% if(detailedAccountRights.modify_accounts == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.modifyAccounts %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("modify_accounts")' name='modifyAccounts' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.modifyAccounts %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("modify_accounts")' name='modifyAccounts' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='removeAccounts'>
              <% if(detailedAccountRights.remove_accounts == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.removeAccounts %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("remove_accounts")' name='removeAccounts' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.removeAccounts %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("remove_accounts")' name='removeAccounts' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='suspendAccounts'>
              <% if(detailedAccountRights.suspend_accounts == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.suspendAccounts %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("suspend_accounts")' name='suspendAccounts' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.suspendAccounts %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("suspend_accounts")' name='suspendAccounts' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='addAccess'>
              <% if(detailedAccountRights.add_access == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.addAccess %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("add_access")' name='addAccess' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.addAccess %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("add_access")' name='addAccess' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='removeAccess'>
              <% if(detailedAccountRights.remove_access == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.removeAccess %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("remove_access")' name='removeAccess' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.removeAccess %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("remove_access")' name='removeAccess' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='addRights'>
              <% if(detailedAccountRights.add_rights == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.addRights %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("add_rights")' name='addRights' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.addRights %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("add_rights")' name='addRights' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
            <div id='removeRights'>
              <% if(detailedAccountRights.remove_rights == 1){ %>
                <div class='rightsDetailAppsRightsTrue'><%= strings.admin.rights.detail.administrationRights.removeRights %></div><% if(currentAccountRights.remove_rights == 1){ %><button onclick='removeRight("remove_rights")' name='removeRights' class='rightsDetailAppsRightsButtonDeactivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.removeRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.removeRight.content %></button><% } %>
              <% } else{ %>
                <div class='rightsDetailAppsRightsFalse'><%= strings.admin.rights.detail.administrationRights.removeRights %></div><% if(currentAccountRights.add_rights == 1){ %><button onclick='addRight("remove_rights")' name='removeRights' class='rightsDetailAppsRightsButtonActivate' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleActive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } else{ %><button class='rightsDetailAppsRightsButtonInactive' title='<%= strings.admin.rights.detail.administrationRights.buttons.addRight.titleInactive %>'><%= strings.admin.rights.detail.administrationRights.buttons.addRight.content %></button><% } %>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/admin/rights/detailSocket.js'></script>
    <script src='/js/admin/rights/addRight.js'></script>
    <script src='/js/admin/rights/removeRight.js'></script>
  </body>
</html>