<!DOCTYPE html>
<html>
  <title><%= strings.admin.appName %> - <%= strings.admin.locations.rights %></title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/base.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/navigation.css' />
  <body>
    <div id='blur'>
      <% include ../include/navigation.ejs %>
      <% if(error != null){ %>
        <div class='errorBlock'>
          <div class='errorBlockTitle'><%= strings.admin.rights.detail.errorBlock.title %></div>
          <div class='errorBlockMessage'><%= error.message %></div>
          <% if(error.detail != null){ %><div class='errorBlockDetail'><%= error.detail %></div><% } %>
        </div>
      <% } else{ %>
        <div class='headerLocation'><%= strings.admin.navigation.rights %></div>
        <div class='accounts'>
          <div class='popup' id='account-list-block-popup'></div>
          <div class='title'><%= strings.admin.accounts.labels.list %></div>
          <div class='labels'>
            <div class='email'><%= strings.admin.accounts.labels.email %></div><!--
            --><div class='lastname'><%= strings.admin.accounts.labels.lastname %></div><!--
            --><div class='firstname'><%= strings.admin.accounts.labels.firstname %></div><!--
            --><div class='suspended'><%= strings.admin.accounts.labels.suspended %></div>
          </div>
          <% if(Object.keys(accounts).length == 0){ %>
            <div class='empty'><%= strings.admin.accounts.empty %></div>
          <% } else{ %>
            <div id='account-list' name='rights'>
              <% for(var x = 0; x < Object.keys(accounts).length; x++){ %>
                <div class='account <% if(x < 20){ %>show<% } else{ %>hide<% } %>' tag='<%= parseInt(x / 20) %>' name='<%= accounts[Object.keys(accounts)[x]].uuid %>'>
                  <div class='email'><%= accounts[Object.keys(accounts)[x]].email %></div><!--
                  --><div class='lastname'><%= accounts[Object.keys(accounts)[x]].lastname.toUpperCase() %></div><!--
                  --><div class='firstname'><%= accounts[Object.keys(accounts)[x]].firstname.charAt(0).toUpperCase() %><%= accounts[Object.keys(accounts)[x]].firstname.slice(1).toLowerCase() %></div><!--
                  --><div class='suspended <% if(accounts[Object.keys(accounts)[x]].suspended){ %>true<% } else{ %>false<% } %>'><% if(accounts[Object.keys(accounts)[x]].suspended){ %><%= strings.admin.accounts.suspended.true %><% } else{ %><%= strings.admin.accounts.suspended.false %><% } %></div>
                </div>
              <% } %>
            </div>
          <% } %>
          <div class='pages' id='account-pages'>
            <% for(var x = 0; x < 10; x++){ %><!--
              --><div tag='<%= x %>' <% if(x == 0 && Object.keys(accounts).length > 0){ %>id='selected-page'<% } %> class='page<% if(x == 0 && Object.keys(accounts).length > 0){ %> selected<% } %><% if(Object.keys(accounts).length < (x * 20) + 1 ){ %> inactive<% } %>'><%= x + 1 %></div><!--
            --><% } %>
          </div>
        </div>
      <% } %>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/admin/openAccountRightsDetail.js'></script>
    <script src='/js/admin/updateAccountList.js'></script>
    <script src='/js/admin/changeAccountListPage.js'></script>
    <script src='/js/admin/updateAccountListSocket.js'></script>
  </body>
</html>