<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/root/news/comments.css" />
  <body>
    <% include ../../include/informations.ejs %>
    <div class="mainSection">
      <div class="subSection">
        <% include ../include/header.ejs %>
        <div class="contentSection">
          <div class="asideColumn">
            <% include ../include/aside.ejs %>
            <% include ../include/news.ejs %>
          </div>
          <div class="centerColumn">
            <div class="mainNewsBlock">
              <div class="mainNewsBlockSection">
                <% if(locals.intranetRights.create_articles || locals.account.isAdmin){ %>
                  <a href="/news/create" class="mainNewsBlockArticleButton"><%= locals.strings.common.root.news.homePage.createArticleSection.createArticleButton %></a>
                <% } else{ %>
                  <div title="<%= locals.string.common.root.news.homePage.createArticleSection.createArticleDisabled %>" class="mainNewsBlockArticleButtonDisabled"><%= locals.strings.common.root.news.homePage.createArticleSection.createArticleButton %></div>
                <% } %>
                <% if(news.length > 0){ %>
                  <% for(var x = 0; x < news.length; x++){ %>
                    <% if(((locals.newsSelected == false || locals.newsSelected == null) && x === 0) || news[x].uuid === locals.newsSelected){ %>
                      <div class="mainNewsBlockArticle" name="<%= news[x].uuid %>" id="mainNewsBlockArticle">
                        <div class="mainNewsBlockArticleActions">
                          <% if(locals.account.isAdmin || locals.intranetRights.update_articles || (locals.intranetRights.update_own_articles && locals.account.uuid === news[x].authorUuid)){ %>
                            <button class="mainNewsBlockArticleActionsUpdate" onclick="updateArticle()"><%= locals.strings.common.root.news.homePage.updateArticleButton %></button>
                          <% } %>
                          <% if(locals.account.isAdmin || locals.intranetRights.remove_articles || (locals.intranetRights.remove_own_articles && locals.account.uuid === news[x].authorUuid)){ %>
                            <button class="mainNewsBlockArticleActionsRemove" onclick="removeArticle()"><%= locals.strings.common.root.news.homePage.removeArticleButton %></button>
                          <% } %>
                        </div>
                        <div class="mainNewsBlockArticleDate"><%= news[x].timestamp %></div>
                        <div class="mainNewsBlockArticleTitle"><%= news[x].title %></div>
                        <div class="mainNewsBlockArticleContent"><%- news[x].content %></div>
                        <div class="mainNewsBlockArticleAuthor"><%= news[x].author %></div>
                        <div id="mainNewsBlockComments" class="mainNewsBlockComments">
                          <div class="mainNewsBlockCommentsPostSection">
                            <button class="mainNewsBlockCommentsPostButton" onclick="addCommentOnArticle(null)"><%= strings.common.root.news.commentsSection.postCommentButton %></button>
                          </div>
                          <div class="mainNewsBlockCommentsContainer">
                            <% if(news[x].comments.length === 0){ %>
                              <div id="mainNewsBlockCommentsEmptyStack" class="mainNewsBlockCommentsEmptyStack"><%= strings.common.root.news.commentsSection.emptyCommentsStack %></div>
                            <% } else{ %>
                              <div id="mainNewsBlockCommentsEmptyStack" class="mainNewsBlockCommentsEmptyStack" style="display:none"><%= strings.common.root.news.commentsSection.emptyCommentsStack %></div>
                            <% } %>
                            <div id="commentsList">
                              <% for(var z = 0; z < news[x].comments.length; z++){ %>
                                <div name="<%= news[x].comments[z].commentUuid %>" class="mainNewsBlockCommentsElement">
                                  <div class="mainNewsBlockCommentsElementHeader"><%= news[x].comments[z].commentDate %> - <%= news[x].comments[z].commentAuthor %></div>
                                  <div class="mainNewsBlockCommentsElementContent">
                                    <div class="mainNewsBlockCommentsElementMessage"><%= news[x].comments[z].commentContent %></div>
                                    <% var index = 0; %>
                                    <% var loop = () => { %>
                                      <% browseComment(news[x].comments[z].commentChildren[index], strings.common, (result) =>{ %>
                                        <%- result %>
                                        <% if(news[x].comments[z].commentChildren[index += 1] != undefined) loop(); %>
                                      <% }); %>
                                    <% } %>
                                    <% if(news[x].comments[z].commentChildren.length > 0) loop(); %>
                                    <% function browseComment(currentComment, strings, callback){ %>
                                      <% var commentArray = [ `<div name=${currentComment.commentUuid} class="mainNewsBlockCommentsElement"><div class="mainNewsBlockCommentsElementHeader">${currentComment.commentDate} - ${currentComment.commentAuthor}</div>` ] %>
                                      <% commentArray.push(`<div class="mainNewsBlockCommentsElementContent"><div class="mainNewsBlockCommentsElementMessage">${currentComment.commentContent}</div>`); %>
                                      <% if(currentComment.commentChildren.length === 0){ %>
                                        <% commentArray.push('</div><div class="mainNewsBlockCommentsElementActions">'); %>
                                        <% if(currentComment.commentRemoved == false){ %>
                                          <% commentArray.push(`<div onclick="addCommentOnArticle('${currentComment.commentUuid}')" class="mainNewsBlockCommentsElementActionsButton">${strings.root.news.commentsSection.answerComment}</div>`); %>
                                        <% } else{ %>
                                          <% commentArray.push(`<div class="mainNewsBlockCommentsElementActionsButtonDisabled">${strings.root.news.commentsSection.answerComment}</div>`); %>
                                        <% } %>
                                        <% if((locals.account.isAdmin || locals.intranetRights.update_article_comments || (locals.intranetRights.update_article_own_comments && currentComment.commentAuthorUuid === locals.account.uuid)) && currentComment.commentRemoved == false){ %>
                                          <% commentArray.push(`<div onclick="updateCommentOnArticle('${currentComment.commentUuid}')" class="mainNewsBlockCommentsElementActionsButton">${strings.root.news.commentsSection.updateComment}</div>`); %>
                                        <% } else{ %>
                                          <% commentArray.push(`<div class="mainNewsBlockCommentsElementActionsButtonDisabled">${strings.root.news.commentsSection.updateComment}</div>`); %>
                                        <% } %>
                                        <% if((locals.account.isAdmin || locals.intranetRights.remove_article_comments || (locals.intranetRights.remove_article_own_comments && currentComment.commentAuthorUuid === locals.account.uuid)) && currentComment.commentRemoved == false){ %>
                                          <% commentArray.push(`<div onclick="removeCommentOnArticle('${currentComment.commentUuid}')" class="mainNewsBlockCommentsElementActionsButton">${strings.root.news.commentsSection.removeComment}</div>`); %>
                                        <% } else{ %>
                                          <% commentArray.push(`<div class="mainNewsBlockCommentsElementActionsButtonDisabled">${strings.root.news.commentsSection.removeComment}</div>`); %>
                                        <% } %>
                                        <% commentArray.push(`</div></div>`); %>
                                        <% return callback(commentArray.join('')); %>
                                      <% } %>
                                      <% var index = 0; %>
                                      <% var loop = () =>{ %>
                                        <% browseComment(currentComment.commentChildren[index], strings, (result) =>{ %>
                                          <% commentArray.push(result); %>
                                          <% if(currentComment.commentChildren[index += 1] == undefined){ %>
                                            <% commentArray.push('</div><div class="mainNewsBlockCommentsElementActions">'); %>
                                            <% if(currentComment.commentRemoved == false){ %>
                                              <% commentArray.push(`<div onclick="addCommentOnArticle('${currentComment.commentUuid}')" class="mainNewsBlockCommentsElementActionsButton">${strings.root.news.commentsSection.answerComment}</div>`); %>
                                            <% } else{ %>
                                              <% commentArray.push(`<div class="mainNewsBlockCommentsElementActionsButtonDisabled">${strings.root.news.commentsSection.answerComment}</div>`); %>
                                            <% } %>
                                            <% if((locals.account.isAdmin || locals.intranetRights.update_article_comments || (locals.intranetRights.update_article_own_comments && currentComment.commentAuthorUuid === locals.account.uuid)) && currentComment.commentRemoved == false){ %>
                                              <% commentArray.push(`<div onclick="updateCommentOnArticle('${currentComment.commentUuid}')" class="mainNewsBlockCommentsElementActionsButton">${strings.root.news.commentsSection.updateComment}</div>`); %>
                                            <% } else{ %>
                                              <% commentArray.push(`<div class="mainNewsBlockCommentsElementActionsButtonDisabled">${strings.root.news.commentsSection.updateComment}</div>`); %>
                                            <% } %>
                                            <% if((locals.account.isAdmin || locals.intranetRights.remove_article_comments || (locals.intranetRights.remove_article_own_comments && currentComment.commentAuthorUuid === locals.account.uuid)) && currentComment.commentRemoved == false){ %>
                                              <% commentArray.push(`<div onclick="removeCommentOnArticle('${currentComment.commentUuid}')" class="mainNewsBlockCommentsElementActionsButton">${strings.root.news.commentsSection.removeComment}</div>`); %>
                                            <% } else{ %>
                                              <% commentArray.push(`<div class="mainNewsBlockCommentsElementActionsButtonDisabled">${strings.root.news.commentsSection.removeComment}</div>`); %>
                                            <% } %>
                                            <% commentArray.push(`</div></div>`); %>
                                            <% return callback(commentArray.join('')); %>
                                          <% } %>
                                          <% loop(); %>
                                        <% }); %>
                                      <% } %>
                                      <% loop(); %>
                                    <% } %>
                                  </div>
                                  <div class="mainNewsBlockCommentsElementActions">
                                    <% if(news[x].comments[z].commentRemoved == false){ %>
                                      <div onclick="addCommentOnArticle('<%= news[x].comments[z].commentUuid %>')" class="mainNewsBlockCommentsElementActionsButton"><%= strings.common.root.news.commentsSection.answerComment %></div>
                                    <% } else{ %>
                                      <div class="mainNewsBlockCommentsElementActionsButtonDisabled"><%= strings.common.root.news.commentsSection.answerComment %></div>
                                    <% } %>
                                    <% if((locals.account.isAdmin || locals.intranetRights.update_article_comments || (locals.intranetRights.update_article_own_comments && news[x].comments[z].commentAuthorUuid === locals.account.uuid)) && news[x].comments[z].commentRemoved == false){ %>
                                      <div onclick="updateCommentOnArticle('<%= news[x].comments[z].commentUuid %>')" class="mainNewsBlockCommentsElementActionsButton"><%= strings.common.root.news.commentsSection.updateComment %></div>
                                    <% } else{ %>
                                      <div class="mainNewsBlockCommentsElementActionsButtonDisabled"><%= strings.common.root.news.commentsSection.updateComment %></div>
                                    <% } %>
                                    <% if((locals.account.isAdmin || locals.intranetRights.remove_article_comments || (locals.intranetRights.remove_article_own_comments && news[x].comments[z].commentAuthorUuid === locals.account.uuid)) && news[x].comments[z].commentRemoved == false){ %>
                                      <div onclick="removeCommentOnArticle('<%= news[x].comments[z].commentUuid %>')" class="mainNewsBlockCommentsElementActionsButton"><%= strings.common.root.news.commentsSection.removeComment %></div>
                                    <% } else{ %>
                                      <div class="mainNewsBlockCommentsElementActionsButtonDisabled"><%= strings.common.root.news.commentsSection.removeComment %></div>
                                    <% } %>
                                  </div>
                                </div>
                              <% } %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% } %>
                  <% } %>
                <% } else{ %>
                  <div class="mainNewsBlockArticle" id="mainNewsBlockArticle">
                    <div class="mainNewsBlockEmpty" id="mainNewsBlockEmpty">
                      <div class="mainNewsBlockEmptyIcon"><i class="far fa-paper-plane"></i></div>
                      <div class="mainNewsBlockEmptyMessage"><%= strings.common.root.news.homePage.emptyArticles %></div>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include ../include/footer.ejs %>
    </div>
    <% include ../../include/common_scripts.ejs %>
    <% include ../include/scripts.ejs %>
    <script src='/js/root/news/selectNewsInternal.js'></script>
    <script src='/js/root/news/updateArticle.js'></script>
    <script src='/js/root/news/removeArticle.js'></script>
    <script src='/js/root/news/addCommentOnArticle.js'></script>
    <script src='/js/root/news/updateCommentOnArticle.js'></script>
    <script src='/js/root/news/removeCommentOnArticle.js'></script>
  </body>
</html>