<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <body>
    <% include ../../include/header.ejs %>
    <% include ../../include/informations.ejs %>
    <div class="mainBlock">
      <div class="startColumn">
        <% include ../../include/aside.ejs %>
        <% include ../../include/news.ejs %>
      </div><!--
      --><div class="centerColumn">
        <div class="mainNewsBlock">
          <a href="/news/create" class="mainNewsBlockArticleButton">Créer un article</a>
          <% if(locals.newsSelected){ %>
            <% for(var x = 0; x < news.length; x++){ %>
              <% for(var y = 0; y < news[x].length; y++){ %>
                <% if(news[x][y].uuid === locals.newsSelected){ %>
                  <div class="mainNewsBlockArticle" name="<%= news[x][y].uuid %>" id="mainNewsBlockArticle">
                    <div class="mainNewsBlockArticleDate"><%= news[x][y].timestamp %></div>
                    <div class="mainNewsBlockArticleTitle"><%= news[x][y].title %></div>
                    <div class="mainNewsBlockArticleContent"><%- news[x][y].content %></div>
                    <div class="mainNewsBlockArticleAuthor"><%= news[x][y].author %></div>
                  </div>
                <% } %>
              <% } %>
            <% } %>
          <% } else{ %>
            <div class="mainNewsBlockEmpty">
              <div class="mainNewsBlockEmptyIcon"><i class="far fa-paper-plane"></i></div>
              <div class="mainNewsBlockEmptyMessage">Aucun article pour le moment</div>
            </div>
          <% } %>
        </div>
      </div><!--
      --><div class="endColumn">
        <div class="newsManagementBlock">
          <div class="newsManagementBlockContent">
            <a href="/news/create" class="newsManagementBlockContentElement">Créer un article</a>
          </div>
        </div>
      </div>
    </div>
    <% include ../../include/footer.ejs %>
    <% include ../../include/root_scripts.ejs %>
    <script src='/js/root/news/selectNewsInternal.js'></script>
  </body>
</html>