<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <body>
    <% include ../include/header.ejs %>
    <% include ../../include/informations.ejs %>
    <div class="mainBlock">
      <div class="startColumn">
        <% include ../include/aside.ejs %>
        <% include ../include/news.ejs %>
      </div><!--
      --><div class="centerColumn">
        <div class="mainNewsBlock">
          <% if(locals.intranetRights.create_articles == true){ %><a href="/news/create" class="mainNewsBlockArticleButton">Créer un article</a><% } %>
          <% if(news.length > 0){ %>
            <% if(locals.newsSelected == false || locals.newsSelected == null){ %>
              <div class="mainNewsBlockArticle" name="<%= news[0].uuid %>" id="mainNewsBlockArticle">
                <div class="mainNewsBlockArticleDate"><%= news[0].timestamp %></div>
                <div class="mainNewsBlockArticleTitle"><%= news[0].title %></div>
                <div class="mainNewsBlockArticleContent"><%- news[0].content %></div>
                <div class="mainNewsBlockArticleAuthor"><%= news[0].author %></div>
              </div>
            <% } else{ %>
              <% for(var x = 0; x < news.length; x++){ %>
                <% if(news[x].uuid === locals.newsSelected){ %>
                  <div class="mainNewsBlockArticle" name="<%= news[x].uuid %>" id="mainNewsBlockArticle">
                    <div class="mainNewsBlockArticleDate"><%= news[x].timestamp %></div>
                    <div class="mainNewsBlockArticleTitle"><%= news[x].title %></div>
                    <div class="mainNewsBlockArticleContent"><%- news[x].content %></div>
                    <div class="mainNewsBlockArticleAuthor"><%= news[x].author %></div>
                  </div>
                <% } %>
              <% } %>
            <% } %>
          <% } else{ %>
            <div class="mainNewsBlockEmpty" id="mainNewsBlockEmpty">
              <div class="mainNewsBlockEmptyIcon"><i class="far fa-paper-plane"></i></div>
              <div class="mainNewsBlockEmptyMessage">Aucun article pour le moment</div>
            </div>
          <% } %>
        </div>
      </div><!--
      --><div class="endColumn">
        <div class="newsManagementBlock">
          <div class="newsManagementBlockTitle">Gestion</div>
          <div class="newsManagementBlockContent">
             <div class="newsManagementBlockContentMessage">Si le bouton en-dessous n'est pas cliquable c'est que vous n'avez pas le droit de créer des articles</div>
            <% if(locals.intranetRights.create_articles == true){ %>
              <a href="/news/create" class="newsManagementBlockContentButton">Créer un article</a>
            <% } else{ %>
              <div class="newsManagementBlockContentButtonDisabled">Créer un article</div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include ../include/footer.ejs %>
    <% include ../../include/common_scripts.ejs %>
    <% include ../include/scripts.ejs %>
    <script src='/js/root/news/selectNewsInternal.js'></script>
  </body>
</html>